<div class="cookies">
    <div class="container">
        <div class="cookies__inner">
            <div class="cookies__text">
                <p>
                    Мы пользуемся <a href="#">куками</a>, и вам советуем
                </p>
            </div>

            <button class="cookies__close-btn">
                ок
            </button>
        </div>
    </div>
</div>