<header class="page-header {{#if alwaysDarkHeader }} page-header--always-dark {{/if}}">
    <div class="container">
        <div class="page-header__row">
            <a href="#" class="page-header__logo">
                <div class="page-header__logo-content">
                    {{> logo }}
                </div>

            </a>
            <div class="page-header__about-text">
                <p>
                    Блог бригмана про компьютерное железо
                </p>
            </div>

            <div class="page-header__links">
                <a href="#" class="page-header__link">
                    О нас
                </a>
                <a href="#" class="page-header__link {{#if contactsPage}} active {{/if}}">
                    Контакты
                </a>
            </div>

            <div class="page-header__mobile-settings">
                <div class="page-header__mobile-settings-btn">
                    <div class="page-header__mobile-settings-btn-inner">
                        <svg width="14" height="14" aria-hidden="true" class="icon-gear">
                            <use xlink:href="#gear"></use>
                        </svg>

                        <div class="page-header__mobile-settings-btn-cross">
                            <svg width="14" height="14" aria-hidden="true" class="icon-settings-cross">
                                <use xlink:href="#settings-cross"></use>
                            </svg>
                        </div>
                    </div>
                </div>
                <div class="page-header__mobile-settings-dropdown">
                    <div class="page-header__mobile-settings-dropdown-inner">
                        <div class="page-header__mobile-settings-dropdown-block">
                            <h4 class="page-header__mobile-settings-dropdown-heading">
                                Цветовая тема
                            </h4>
                            <div class="page-header__mobile-settings-color-theme">
                                <a href="#"
                                    class="page-header__mobile-settings-color-theme-btn page-header__mobile-settings-color-theme-btn--dark">
                                    <svg width="14" height="14" aria-hidden="true" class="icon-mobile-dark-theme">
                                        <use xlink:href="#mobile-dark-theme"></use>
                                    </svg>
                                </a>
                                <a href="#"
                                    class="page-header__mobile-settings-color-theme-btn page-header__mobile-settings-color-theme-btn--light">
                                    <svg width="14" height="14" aria-hidden="true" class="icon-mobile-light-theme">
                                        <use xlink:href="#mobile-light-theme"></use>
                                    </svg>
                                </a>
                            </div>
                        </div>
                        <div class="page-header__mobile-settings-dropdown-block">
                            <h4 class="page-header__mobile-settings-dropdown-heading">
                                Основной цвет
                            </h4>
                            <div class="page-header__mobile-settings-choose-color">
                                <a href="#" class="page-header__mobile-settings-choose-color-btn active"
                                    style="color: #9C5DE0;">

                                </a>
                                <a href="#" class="page-header__mobile-settings-choose-color-btn"
                                    style="color: #4200FF;">

                                </a>
                                <a href="#" class="page-header__mobile-settings-choose-color-btn"
                                    style="color: #FF4343;">

                                </a>
                                <a href="#" class="page-header__mobile-settings-choose-color-btn"
                                    style="color: #12786F;">

                                </a>
                                <a href="#" class="page-header__mobile-settings-choose-color-btn"
                                    style="color: #FF813A;">

                                </a>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</header>