<div class="modal js-modal" id="login-modal">
    <div class="modal__inner">
        <button class="modal__close js-close-modal">
            <svg width="14" height="14" aria-hidden="true" class="icon-cross">
                <use xlink:href="#cross"></use>
            </svg>
        </button>
        <div class="modal__heading">
            войти с помощью
        </div>
        <ul class="modal__social-list">
            <li class="modal__social-list-item">
                <a href="#" class="modal__social-link">
                    <svg width="14" height="14" aria-hidden="true" class="icon-social-vk">
                        <use xlink:href="#social-vk"></use>
                    </svg>
                </a>
            </li>
            <li class="modal__social-list-item">
                <a href="#" class="modal__social-link">
                    <svg width="14" height="14" aria-hidden="true" class="icon-social-twitter">
                        <use xlink:href="#social-twitter"></use>
                    </svg>
                </a>
            </li>
            <li class="modal__social-list-item">
                <a href="#" class="modal__social-link">
                    <svg width="14" height="14" aria-hidden="true" class="icon-social-ok">
                        <use xlink:href="#social-ok"></use>
                    </svg>
                </a>
            </li>
            <li class="modal__social-list-item">
                <a href="#" class="modal__social-link">
                    <svg width="14" height="14" aria-hidden="true" class="icon-social-mail">
                        <use xlink:href="#social-mail"></use>
                    </svg>
                </a>
            </li>
            <li class="modal__social-list-item">
                <a href="#" class="modal__social-link">
                    <svg width="14" height="14" aria-hidden="true" class="icon-social-google">
                        <use xlink:href="#social-google"></use>
                    </svg>
                </a>
            </li>
            <li class="modal__social-list-item">
                <a href="#" class="modal__social-link">
                    <svg width="14" height="14" aria-hidden="true" class="icon-social-facebook">
                        <use xlink:href="#social-facebook"></use>
                    </svg>
                </a>
            </li>
        </ul>
        <div class="modal__policy">
            Нажимая кнопку входа, вы принимаете условия
            <a href="#">Пользовательского соглашения</a> и <a href="#">Политики конфиденциальности</a>
        </div>
    </div>
</div>
<div class="modal js-modal" id="report-modal">
    <div class="modal__inner">
        <button class="modal__close js-close-modal">
            <svg width="14" height="14" aria-hidden="true" class="icon-cross">
                <use xlink:href="#cross"></use>
            </svg>
        </button>
        <div class="modal__heading">
            Пожаловаться на комментарий
        </div>
        <div class="modal__text">
            <p>
                Спасибо. Ваша жалоба принята и будет рассмотрена администратором в самое ближайшее время.
            </p>
        </div>
    </div>
</div>