<div class="toasty">
    <div class="toasty__victor">
        <img src="img/viktor.png" alt="" class="toasty__victor-image">
        <div class="toasty__victor-message">
            Нет, н**уя!
        </div>
    </div>
</div>