{{#extend "layout"}}
{{#content "main"}}



<section class="article">
    <div class="container">
        <a href="#" class="article__back-link">
            <svg width="14" height="14" aria-hidden="true" class="icon-back-link">
                <use xlink:href="#back-link"></use>
            </svg>
            Назад к статьям
        </a>
        <div class="article__content">
            <h1 class="article__main-heading">
                первая в России Nvidia Geforce RTX 3080 founders edition
            </h1>
            <div class="article__info">
                <div class="article__tags">
                    <a href="#" class="article__tag">
                        Видеокарта
                    </a>
                </div>
                <div class="article__date">
                    25 марта · 2020
                </div>
            </div>
            <a href="img/article-intro-image.jpg" class="article__intro-image-wrapper" data-fancybox>
                <img src="img/article-intro-image.jpg" alt="" class="article__intro-image">
            </a>
            <div class="article__text-content">
                <div class="article__text-content-fullwidth">
                    <p>
                        <big>
                            Привет, друзья! Сегодня особенный день! Ведь, я снимаю долгожданный вами ролик. Да, сегодня
                            мы
                            будем говорить о новенькой видеокарте от Nvidia. Но это не простая видеокарта. Сейчас я вам
                            покажу по какой же причине я так затянул с роликом. Это первая в России Nvidia Geforce RTX
                            3080
                            founders edition. (Рассказываю о своих впечатлениях от внешнего вида). И это еще не все!
                        </big>
                    </p>
                </div>

                <p>
                    В этом ролике будет участвовать еще одна видеокарта 3080 от Asus. Мы сравним эти две видеокарты как
                    по внешнему виду, так и по производительности. (Рассказываю о своих впечатлениях от внешнего вида).
                    Но по традиции, перед тем, как перейти к тестам, которые наверняка очень интересны, надо обязательно
                    рассказать о ряде интересных технологий, которые вышли в свет вместе с 3000 линейкой видеокарт.
                </p>
                <h3>
                    Технологии
                </h3>
                <p>
                    Каждая из технологий интересная по-своему и стоит отметить, что почти каждая работает при помощи
                    искусственного интеллекта с нейросетями. Я так заметил, что в современном прогрессе так или иначе
                    задействуется ИИ. Сейчас твердо можно сказать, что это наше будущее, которое мы уже осязаем. Итак,
                    расскажу вкратце по порядку какие технологии добавила Nvidia:
                </p>

                <ul>
                    <li>
                        <strong>NVIDIA Reflex</strong> – технология оптимизирует рендеринг видеокарты и процессора
                        снижая задержки на 25%
                        в играх. Первыми играми с поддержкой технологии будут из киберспортивных дисциплин. Несколько
                        лет назад NVIDIA инвестировала в лабораторию киберспорта, где аналитики NVIDIA Research изучают
                        производительность игроков и оборудования в соревновательных играх. Технология имеет отношение к
                        видеокартам, дисплеям G-Sync и программному обеспечению. Работать технология будет на
                        видеокартах 900 серии и выше. Работает технология по тому принципу, что позволяет GPU выдавать
                        различные инструкции минуя процессор и оперативную память, что и снижает задержки. А при
                        включенной трассировке лучей помогает нивелировать провал в производительности.

                    </li>
                    <li>
                        <strong>NVIDIA BROADCAST.</strong> Искусственный интеллект. Технология в основном для стримеров.
                        Убирает
                        посторонние шумы типа клавиатуры, вентиляторов и т.д. Отделяет человека на веб камере от фона
                        вместе с креслом. Можно ставить свой фон. Имеет динамическое отслеживание движений. Работает
                        технология на всех видеокартах RTX. Технология меньше нагружает сам графический процессор.
                        Потому что добавлен аппаратный кодировщик NVIDIA NVENC. Это независимый блок видеокарты
                        GeForce®, который кодирует и декодирует видео, снимая нагрузку с центрального процессора.

                    </li>
                    <li>
                        <strong>Nvidia Omniverse Machinima</strong> – движок созданный компанией, который позволяет
                        создавать различный
                        контент, различные симуляции и многое другое. Он работает в связке с многими программами.
                        Например, может взять текстуру из фотошопа и даже без ее сохранения сразу отобразить в движке и
                        заанимировать ее в соответствии с физикой. Можно сказать, что это ГаррисМод на максималках.
                    </li>
                </ul>
                <figure>
                    <img src="img/figure-image.jpg" alt="">
                    <figcaption>
                        Новая видеокарта Nvidia Geforce RTX 3080 Founders Edition
                    </figcaption>
                </figure>
                <h3>
                    Видеокарта.<br>
                    Теперь немного о новых чипах Ampere для игровых видеокарт
                </h3>
                <ul>
                    <li>
                        Новые шейдеры с двумя вычислениями за такт (прирост в 2.7 раза). То есть можно сказать
                        мультипоток в шейдерных блоках.
                    </li>
                    <li>
                        Новые RT ядра с приростом произ-ти в 1.7 раза. Именно эти ядра по большей части занимаются
                        обсчетом пересечения лучей.
                    </li>
                    <li>
                        Новые производительные тензорные ядра (прирост в 2.7 раза).
                    </li>
                    <li>
                        Тех процесс 8нм от Samsung, раньше было 7 нм от TSMC. Новый тех процесс производительнее на кв.
                        ММ. При этом более оптимизирован и позволяет подать больше напряжение.
                        28 млрд транзисторов против 18 млрд в Turing.
                    </li>
                    <li>
                        Память GDDR6X. Эта память способна обеспечивать пропускную способность до 1 Тбайт/с.
                    </li>
                    <li>
                        Производ-ность на 1 Вт больше в 2 раза, но и потребление сильно выше в сравнении с Turing.
                        Высокое потребление обусловлено новой GDDR6X памятью, которая прожорлива.
                    </li>
                    <li>
                        PCIe 4.0 с новой технологией RTX io. Позволяет распаковывать файлы игр из SSD прямиком в GPU в
                        обход процессора. Текстуры от игры попадают в запакованном виде, а видеокарта сама распаковывает
                        и обрабатывает полученные файлы. Сама не очень нагружается и снимает крупную часть нагрузки с
                        процессора. Технология еще не введена в эксплуатацию.
                    </li>
                    <li>
                        Система охлаждения из 4-ех медных трубок, 2 раздельных вентилятора, 2 вертушки. Расположение
                        охлаждения уникальное и к воздушному потоку относимся внимательно.

                    </li>
                    <li>
                        Новый 12 пиновый разъем, к которому в коробке от видеокарты лежит переходник.
                    </li>
                    <li>
                        10 ГБ памяти у видеокарты. Их хватает для всех проектов. (как-то можно об этом рассказать, но
                        подписчики все равно могут не понять, что этого достаточно).
                    </li>
                </ul>
                <h3>
                    Сравнение видеокарт<br> на примере игр
                </h3>
                <div class="article__text-content-comparison-table">
                    <table>
                        <thead>
                            <tr>
                                <th>

                                </th>
                                <th class="selected">
                                    Geforce RTX 3080
                                </th>
                                <th>
                                    Geforce RTX 2080
                                </th>
                                <th>
                                    Geforce 2080
                                </th>
                                <th>
                                    Geforce 2080
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <div class="article__text-content-comparison-table-game-title">
                                        <img src="img/games/mafia.jpg" alt=""
                                            class="article__text-content-comparison-table-game-cover">
                                        Mafia
                                    </div>
                                </td>
                                <td class="selected">
                                    120 FPS
                                </td>
                                <td>
                                    120 FPS
                                </td>
                                <td>
                                    120 FPS
                                </td>
                                <td>
                                    120 FPS
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="article__text-content-comparison-table-game-title">
                                        <img src="img/games/jedi.jpg" alt=""
                                            class="article__text-content-comparison-table-game-cover">
                                        Mafia
                                    </div>
                                </td>
                                <td class="selected">
                                    120 FPS
                                </td>
                                <td>
                                    120 FPS
                                </td>
                                <td>
                                    120 FPS
                                </td>
                                <td>
                                    120 FPS
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="article__text-content-comparison-table-game-title">
                                        <img src="img/games/call.jpg" alt=""
                                            class="article__text-content-comparison-table-game-cover">
                                        COD MW
                                    </div>
                                </td>
                                <td class="selected">
                                    120 FPS
                                </td>
                                <td>
                                    120 FPS
                                </td>
                                <td>
                                    120 FPS
                                </td>
                                <td>
                                    120 FPS
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="article__text-content-comparison-table-game-title">
                                        <img src="img/games/kojima.jpg" alt=""
                                            class="article__text-content-comparison-table-game-cover">
                                        Death Stranding
                                    </div>
                                </td>
                                <td class="selected">
                                    120 FPS
                                </td>
                                <td>
                                    120 FPS
                                </td>
                                <td>
                                    120 FPS
                                </td>
                                <td>
                                    120 FPS
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="article__text-content-comparison-table-game-title">
                                        <img src="img/games/doom.jpg" alt=""
                                            class="article__text-content-comparison-table-game-cover">
                                        DOOM Ethernal
                                    </div>
                                </td>
                                <td class="selected">
                                    120 FPS
                                </td>
                                <td>
                                    120 FPS
                                </td>
                                <td>
                                    120 FPS
                                </td>
                                <td>
                                    120 FPS
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="article__text-content-comparison-table-game-title">
                                        <img src="img/games/battlefield.jpg" alt=""
                                            class="article__text-content-comparison-table-game-cover">
                                        DOOM Ethernal
                                    </div>
                                </td>
                                <td class="selected">
                                    120 FPS
                                </td>
                                <td>
                                    120 FPS
                                </td>
                                <td>
                                    120 FPS
                                </td>
                                <td>
                                    120 FPS
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="article__text-content-comparison-table-game-title">
                                        <img src="img/games/control.jpg" alt=""
                                            class="article__text-content-comparison-table-game-cover">
                                        DOOM Ethernal
                                    </div>
                                </td>
                                <td class="selected">
                                    120 FPS
                                </td>
                                <td>
                                    120 FPS
                                </td>
                                <td>
                                    120 FPS
                                </td>
                                <td>
                                    120 FPS
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="article__text-content-gallery-slider js-article-gallery-slider">
                    <div class="article__text-content-gallery-slider-wrapper">
                        <button
                            class="article__text-content-gallery-slider-arrow article__text-content-gallery-slider-arrow--prev">
                            <div class="article__text-content-gallery-slider-arrow-content">
                                <svg width="14" height="14" aria-hidden="true" class="icon-arrow-left">
                                    <use xlink:href="#arrow-left"></use>
                                </svg>
                            </div>

                        </button>
                        <div class="swiper-container">
                            <div class="swiper-wrapper">

                                <div class="swiper-slide">
                                    <div class="article__text-content-gallery-slider-card">
                                        <img src="img/gallery-slider.jpg" alt=""
                                            class="article__text-content-gallery-slider-card-image">
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="article__text-content-gallery-slider-card">
                                        <img src="img/gallery-slider.jpg" alt=""
                                            class="article__text-content-gallery-slider-card-image">
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="article__text-content-gallery-slider-card">
                                        <img src="img/gallery-slider.jpg" alt=""
                                            class="article__text-content-gallery-slider-card-image">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button
                            class="article__text-content-gallery-slider-arrow article__text-content-gallery-slider-arrow--next">
                            <div class="article__text-content-gallery-slider-arrow-content">
                                <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                                    <use xlink:href="#arrow-right"></use>
                                </svg>
                            </div>

                        </button>
                    </div>
                    <div class="article__text-content-gallery-slider-pagination">
                        <div class="article__text-content-gallery-slider-pagination-bullet">

                        </div>
                        <div class="article__text-content-gallery-slider-pagination-bullet">

                        </div>
                        <div class="article__text-content-gallery-slider-pagination-bullet">

                        </div>
                    </div>
                </div>
                <h3>
                    Спецификации
                </h3>
                <div class="article__text-content-specs-table">
                    <table>
                        <tbody>
                            <tr>
                                <th>
                                    Количество видеочипов
                                </th>
                                <td>
                                    1
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    Технологический процесс
                                </th>
                                <td>
                                    8 нм
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    Штатная частота работы видеочипа (МГц)
                                </th>
                                <td>
                                    1440 МГц
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    Количество универсальных процессоров
                                </th>
                                <td>
                                    8704
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    Число текстурных блоков
                                </th>
                                <td>
                                    272
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    Число блоков растеризации
                                </th>
                                <td>
                                    88
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    Версия шейдеров
                                </th>
                                <td>
                                    6.4
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    Объем видеопамяти
                                </th>
                                <td>
                                    10 ГБ
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    Тип памяти
                                </th>
                                <td>
                                    GDDR6X
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    Эффективная частота памяти
                                </th>
                                <td>
                                    19000 МГц
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    Разрядность шины памяти
                                </th>
                                <td>
                                    320 бит
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    Максимальная пропускная способность памяти (Гбайт/сек)
                                </th>
                                <td>
                                    760 Гбайт/сек
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    Версия PCI
                                </th>
                                <td>
                                    Express 4.0
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    Разъемы дополнительного питания
                                </th>
                                <td>
                                    8-pin x2
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    Максимальное энергопотребление
                                </th>
                                <td>
                                    320 Вт
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <blockquote>
                    Я рекомендую брать коврики с поверхностью Speed.
                    <svg width="14" height="14" aria-hidden="true" class="icon-quotes">
                        <use xlink:href="#quotes"></use>
                    </svg>
                </blockquote>

                <h3>
                    Технологии
                </h3>
                <p>
                    Каждая из технологий интересная по-своему и стоит отметить, что почти каждая работает при помощи
                    искусственного интеллекта с нейросетями. Я так заметил, что в современном прогрессе так или иначе
                    задействуется ИИ. Сейчас твердо можно сказать, что это наше будущее, которое мы уже осязаем. Итак,
                    расскажу вкратце по порядку какие технологии добавила Nvidia:
                </p>

                <ol>
                    <li>
                        <strong>NVIDIA Reflex</strong> – технология оптимизирует рендеринг видеокарты и процессора
                        снижая задержки на 25%
                        в играх. Первыми играми с поддержкой технологии будут из киберспортивных дисциплин. Несколько
                        лет назад NVIDIA инвестировала в лабораторию киберспорта, где аналитики NVIDIA Research изучают
                        производительность игроков и оборудования в соревновательных играх. Технология имеет отношение к
                        видеокартам, дисплеям G-Sync и программному обеспечению. Работать технология будет на
                        видеокартах 900 серии и выше. Работает технология по тому принципу, что позволяет GPU выдавать
                        различные инструкции минуя процессор и оперативную память, что и снижает задержки. А при
                        включенной трассировке лучей помогает нивелировать провал в производительности.

                    </li>
                    <li>
                        <strong>NVIDIA BROADCAST.</strong> Искусственный интеллект. Технология в основном для стримеров.
                        Убирает
                        посторонние шумы типа клавиатуры, вентиляторов и т.д. Отделяет человека на веб камере от фона
                        вместе с креслом. Можно ставить свой фон. Имеет динамическое отслеживание движений. Работает
                        технология на всех видеокартах RTX. Технология меньше нагружает сам графический процессор.
                        Потому что добавлен аппаратный кодировщик NVIDIA NVENC. Это независимый блок видеокарты
                        GeForce®, который кодирует и декодирует видео, снимая нагрузку с центрального процессора.

                    </li>
                    <li>
                        <strong>Nvidia Omniverse Machinima</strong> – движок созданный компанией, который позволяет
                        создавать различный
                        контент, различные симуляции и многое другое. Он работает в связке с многими программами.
                        Например, может взять текстуру из фотошопа и даже без ее сохранения сразу отобразить в движке и
                        заанимировать ее в соответствии с физикой. Можно сказать, что это ГаррисМод на максималках.
                    </li>
                </ol>
            </div>

            <div class="article__bottom-controls">
                <div class="article__bottom-controls-joystick">
                    <a href="#" class="article__bottom-controls-joystick-btn">
                        Назад
                        <div class="article__bottom-controls-joystick-btn-icon">
                            <svg width="14" height="14" aria-hidden="true" class="icon-back-link">
                                <use xlink:href="#back-link"></use>
                            </svg>
                        </div>
                    </a>
                    <div class="article__bottom-controls-total-count">
                        2167
                    </div>
                    <a href="#" class="article__bottom-controls-joystick-btn">

                        <div class="article__bottom-controls-joystick-btn-icon">
                            <svg width="14" height="14" aria-hidden="true" class="icon-next-link">
                                <use xlink:href="#next-link"></use>
                            </svg>
                        </div>
                        Поделиться
                    </a>
                </div>
                <div class="article__bottom-controls-bottom-text">
                    Просмотры
                </div>
            </div>
        </div>
    </div>
</section>

{{/content}}
{{/extend}}