{{#extend "layout"}}
{{#content "main"}}



<section class="catalog">
    <div class="container">
        <div class="catalog__intro">
            <div class="catalog__intro-picture-block">
                <div class="catalog__intro-picture-block-bg">


                    <picture>
                        <source srcset="img/catalog-intro-mobile.jpg" media="(max-width: 640px)">
                        <img src="img/catalog-intro-bg.jpg" alt="MDN" class="catalog__intro-picture-block-image">
                    </picture>
                </div>

                <h1 class="catalog__intro-heading">
                    <a href="#" class="catalog__intro-heading-link">
                        Железо
                        <div class="catalog__intro-heading-link-arrow">
                            <svg width="14" height="14" aria-hidden="true" class="icon-arrow-down">
                                <use xlink:href="#arrow-down"></use>
                            </svg>
                        </div>

                    </a>
                    <div class="catalog__intro-modal">
                        <div class="catalog__intro-modal-orb">
                            <div class="catalog__intro-modal-orb-inner">

                            </div>
                        </div>
                        <div class="catalog__intro-modal-inner">

                            <div class="container">


                                <div class="catalog__intro-modal-top-row">
                                    <div class="catalog__intro-modal-top-text">
                                        Выберите тему
                                    </div>

                                    <button class="catalog__intro-modal-close" type="button">

                                        <svg width="14" height="14" aria-hidden="true" class="icon-cross">
                                            <use xlink:href="#cross"></use>
                                        </svg>
                                    </button>
                                </div>
                                <div class="catalog__intro-modal-menu">
                                    <div class="catalog__intro-modal-menu-left-col">


                                        <nav class="catalog__intro-modal-nav">
                                            <a href="#" class="catalog__intro-modal-nav-link">
                                                Новости
                                            </a>
                                            <a href="#" class="catalog__intro-modal-nav-link">
                                                Сборка ПК
                                            </a>
                                            <a href="#" class="catalog__intro-modal-nav-link active">
                                                Железо
                                            </a>
                                            <a href="#" class="catalog__intro-modal-nav-link">
                                                Образовач
                                            </a>
                                            <a href="#" class="catalog__intro-modal-nav-link">
                                                Своими руками
                                            </a>
                                            <a href="#" class="catalog__intro-modal-nav-link">
                                                Комп в мешке
                                            </a>
                                            <a href="#" class="catalog__intro-modal-nav-link">
                                                Ноутбуки
                                            </a>
                                            <a href="#" class="catalog__intro-modal-nav-link">
                                                Периферия
                                            </a>




                                        </nav>
                                    </div>
                                    <div class="catalog__intro-modal-menu-right-col">
                                        <img src="img/catalog-menu-image.jpg" alt=""
                                            class="catalog__intro-modal-menu-image">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </h1>
            </div>
            <div class="catalog__intro-filters-row">
                <ul class="catalog__intro-categories-list">
                    <li class="catalog__intro-categories-list-item">
                        <a href="#" class="catalog__intro-categories-link active">
                            Все статьи
                            <span class="catalog__intro-categories-link-count">
                                48
                            </span>
                        </a>
                    </li>
                    <li class="catalog__intro-categories-list-item">
                        <a href="#" class="catalog__intro-categories-link">
                            Материнские платы
                            <span class="catalog__intro-categories-link-count">
                                48
                            </span>
                        </a>
                    </li>
                    <li class="catalog__intro-categories-list-item">
                        <a href="#" class="catalog__intro-categories-link">
                            Корпуса
                            <span class="catalog__intro-categories-link-count">
                                48
                            </span>
                        </a>
                    </li>
                    <li class="catalog__intro-categories-list-item">
                        <a href="#" class="catalog__intro-categories-link">
                            Комп в мешке
                            <span class="catalog__intro-categories-link-count">
                                48
                            </span>
                        </a>
                    </li>
                    <li class="catalog__intro-categories-list-item">
                        <a href="#" class="catalog__intro-categories-link">
                            Процессоры
                            <span class="catalog__intro-categories-link-count">
                                48
                            </span>
                        </a>
                    </li>
                    <li class="catalog__intro-categories-list-item">
                        <a href="#" class="catalog__intro-categories-link">
                            Оперативная память
                            <span class="catalog__intro-categories-link-count">
                                48
                            </span>
                        </a>
                    </li>
                    <li class="catalog__intro-categories-list-item">
                        <a href="#" class="catalog__intro-categories-link">
                            Мониторы
                            <span class="catalog__intro-categories-link-count">
                                48
                            </span>
                        </a>
                    </li>
                    <li class="catalog__intro-categories-list-item">
                        <a href="#" class="catalog__intro-categories-link">
                            Видеокарты
                            <span class="catalog__intro-categories-link-count">
                                48
                            </span>
                        </a>
                    </li>
                    <li class="catalog__intro-categories-list-item">
                        <a href="#" class="catalog__intro-categories-link">
                            Накопители
                            <span class="catalog__intro-categories-link-count">
                                48
                            </span>
                        </a>
                    </li>
                    <li class="catalog__intro-categories-list-item">
                        <a href="#" class="catalog__intro-categories-link">
                            Разрушитель мифов
                            <span class="catalog__intro-categories-link-count">
                                48
                            </span>
                        </a>
                    </li>
                    <li class="catalog__intro-categories-list-item">
                        <a href="#" class="catalog__intro-categories-link">
                            Процессоры
                            <span class="catalog__intro-categories-link-count">
                                48
                            </span>
                        </a>
                    </li>
                    <li class="catalog__intro-categories-list-item">
                        <a href="#" class="catalog__intro-categories-link">
                            Охлаждение
                            <span class="catalog__intro-categories-link-count">
                                48
                            </span>
                        </a>
                    </li>
                    <li class="catalog__intro-categories-list-item">
                        <a href="#" class="catalog__intro-categories-link">
                            Блоки питания
                            <span class="catalog__intro-categories-link-count">
                                48
                            </span>
                        </a>
                    </li>
                </ul>
                <form action="/" method="POST" class="catalog__intro-sorting">
                    <input type="radio" name="sorting" value="new" class="catalog__intro-sorting-radio-input" id="sorting-new">
                    <label for="sorting-new" class="catalog__intro-sorting-radio-text">
                        Сначала новые
                    </label>
                    <div class="catalog__intro-sorting-tumbler">
                        
                    </div>
                    <input type="radio" name="sorting" value="popular" class="catalog__intro-sorting-radio-input" id="sorting-popular">

                    <label for="sorting-popular" class="catalog__intro-sorting-radio-text">
                        Сначала популярные
                    </label>
                </form>
            </div>

        </div>
        <ul class="catalog__results-list">
            <li class="catalog__results-list-item">
                <div class="home__bottom-slider-card">
                    <a href="#" class="home__bottom-slider-card-image-container">
                        <img src="img/home-bottom-slider/1.jpg" alt="" class="home__bottom-slider-card-image">
                        <div class="home__bottom-slider-card-category">
                            Видеокарта
                        </div>
                    </a>
                    <div class="home__bottom-slider-card-content">
                        <a href="#" class="home__bottom-slider-card-content-inner">


                            <h3 class="home__bottom-slider-card-title">
                                Nvidia представила RTX3
                            </h3>
                            <div class="home__bottom-slider-card-text">
                                <p>
                                    Наконец-то NVIDIA представила архитектуру графических
                                    процессоров
                                    нового
                                    поколения
                                </p>
                            </div>
                            <div class="home__bottom-slider-card-info">
                                <div class="home__bottom-slider-card-info-item">
                                    15 марта
                                </div>
                                <div class="home__bottom-slider-card-info-item">
                                    <svg width="14" height="14" aria-hidden="true" class="icon-views">
                                        <use xlink:href="#views"></use>
                                    </svg>
                                    57К
                                </div>
                            </div>
                        </a>
                        <div class="home__bottom-slider-card-btns">
                            <a href="#" class="home__bottom-slider-card-btn">
                                <div class="home__bottom-slider-card-btn-icon">
                                    <svg width="18" height="18" aria-hidden="true" class="icon-sharing">
                                        <use xlink:href="#sharing"></use>
                                    </svg>
                                </div>
                            </a>
                            <a href="#" class="home__bottom-slider-card-btn">
                                <div class="home__bottom-slider-card-btn-icon">
                                    <svg width="18" height="18" aria-hidden="true" class="icon-like">
                                        <use xlink:href="#like"></use>
                                    </svg>
                                </div>
                                <div class="home__bottom-slider-card-btn-text">
                                    3К
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </li>
            <li class="catalog__results-list-item">
                <div class="home__bottom-slider-card">
                    <a href="#" class="home__bottom-slider-card-image-container">
                        <img src="img/home-bottom-slider/2.jpg" alt="" class="home__bottom-slider-card-image">
                        <div class="home__bottom-slider-card-category">
                            Видеокарта
                        </div>
                    </a>
                    <div class="home__bottom-slider-card-content">
                        <a href="#" class="home__bottom-slider-card-content-inner">


                            <h3 class="home__bottom-slider-card-title">
                                Nvidia представила RTX3
                            </h3>
                            <div class="home__bottom-slider-card-text">
                                <p>
                                    Наконец-то NVIDIA представила архитектуру графических
                                    процессоров
                                    нового
                                    поколения
                                </p>
                            </div>
                            <div class="home__bottom-slider-card-info">
                                <div class="home__bottom-slider-card-info-item">
                                    15 марта
                                </div>
                                <div class="home__bottom-slider-card-info-item">
                                    <svg width="14" height="14" aria-hidden="true" class="icon-views">
                                        <use xlink:href="#views"></use>
                                    </svg>
                                    57К
                                </div>
                            </div>
                        </a>
                        <div class="home__bottom-slider-card-btns">
                            <a href="#" class="home__bottom-slider-card-btn">
                                <div class="home__bottom-slider-card-btn-icon">
                                    <svg width="18" height="18" aria-hidden="true" class="icon-sharing">
                                        <use xlink:href="#sharing"></use>
                                    </svg>
                                </div>
                            </a>
                            <a href="#" class="home__bottom-slider-card-btn">
                                <div class="home__bottom-slider-card-btn-icon">
                                    <svg width="18" height="18" aria-hidden="true" class="icon-like">
                                        <use xlink:href="#like"></use>
                                    </svg>
                                </div>
                                <div class="home__bottom-slider-card-btn-text">
                                    3К
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </li>
            <li class="catalog__results-list-item">
                <div class="home__bottom-slider-card">
                    <a href="#" class="home__bottom-slider-card-image-container">
                        <img src="img/home-bottom-slider/3.jpg" alt="" class="home__bottom-slider-card-image">
                        <div class="home__bottom-slider-card-category">
                            Видеокарта
                        </div>
                    </a>
                    <div class="home__bottom-slider-card-content">
                        <a href="#" class="home__bottom-slider-card-content-inner">


                            <h3 class="home__bottom-slider-card-title">
                                Nvidia представила RTX3
                            </h3>
                            <div class="home__bottom-slider-card-text">
                                <p>
                                    Наконец-то NVIDIA представила архитектуру графических
                                    процессоров
                                    нового
                                    поколения
                                </p>
                            </div>
                            <div class="home__bottom-slider-card-info">
                                <div class="home__bottom-slider-card-info-item">
                                    15 марта
                                </div>
                                <div class="home__bottom-slider-card-info-item">
                                    <svg width="14" height="14" aria-hidden="true" class="icon-views">
                                        <use xlink:href="#views"></use>
                                    </svg>
                                    57К
                                </div>
                            </div>
                        </a>
                        <div class="home__bottom-slider-card-btns">
                            <a href="#" class="home__bottom-slider-card-btn">
                                <div class="home__bottom-slider-card-btn-icon">
                                    <svg width="18" height="18" aria-hidden="true" class="icon-sharing">
                                        <use xlink:href="#sharing"></use>
                                    </svg>
                                </div>
                            </a>
                            <a href="#" class="home__bottom-slider-card-btn">
                                <div class="home__bottom-slider-card-btn-icon">
                                    <svg width="18" height="18" aria-hidden="true" class="icon-like">
                                        <use xlink:href="#like"></use>
                                    </svg>
                                </div>
                                <div class="home__bottom-slider-card-btn-text">
                                    3К
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </li>
            <li class="catalog__results-list-item">
                <div class="home__bottom-slider-card">
                    <a href="#" class="home__bottom-slider-card-image-container">
                        <img src="img/home-bottom-slider/1.jpg" alt="" class="home__bottom-slider-card-image">
                        <div class="home__bottom-slider-card-category">
                            Видеокарта
                        </div>
                    </a>
                    <div class="home__bottom-slider-card-content">
                        <a href="#" class="home__bottom-slider-card-content-inner">


                            <h3 class="home__bottom-slider-card-title">
                                Nvidia представила RTX3
                            </h3>
                            <div class="home__bottom-slider-card-text">
                                <p>
                                    Наконец-то NVIDIA представила архитектуру графических
                                    процессоров
                                    нового
                                    поколения
                                </p>
                            </div>
                            <div class="home__bottom-slider-card-info">
                                <div class="home__bottom-slider-card-info-item">
                                    15 марта
                                </div>
                                <div class="home__bottom-slider-card-info-item">
                                    <svg width="14" height="14" aria-hidden="true" class="icon-views">
                                        <use xlink:href="#views"></use>
                                    </svg>
                                    57К
                                </div>
                            </div>
                        </a>
                        <div class="home__bottom-slider-card-btns">
                            <a href="#" class="home__bottom-slider-card-btn">
                                <div class="home__bottom-slider-card-btn-icon">
                                    <svg width="18" height="18" aria-hidden="true" class="icon-sharing">
                                        <use xlink:href="#sharing"></use>
                                    </svg>
                                </div>
                            </a>
                            <a href="#" class="home__bottom-slider-card-btn">
                                <div class="home__bottom-slider-card-btn-icon">
                                    <svg width="18" height="18" aria-hidden="true" class="icon-like">
                                        <use xlink:href="#like"></use>
                                    </svg>
                                </div>
                                <div class="home__bottom-slider-card-btn-text">
                                    3К
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </li>
            <li class="catalog__results-list-item">
                <div class="home__bottom-slider-card">
                    <a href="#" class="home__bottom-slider-card-image-container">
                        <img src="img/home-bottom-slider/2.jpg" alt="" class="home__bottom-slider-card-image">
                        <div class="home__bottom-slider-card-category">
                            Видеокарта
                        </div>
                    </a>
                    <div class="home__bottom-slider-card-content">
                        <a href="#" class="home__bottom-slider-card-content-inner">


                            <h3 class="home__bottom-slider-card-title">
                                Nvidia представила RTX3
                            </h3>
                            <div class="home__bottom-slider-card-text">
                                <p>
                                    Наконец-то NVIDIA представила архитектуру графических
                                    процессоров
                                    нового
                                    поколения
                                </p>
                            </div>
                            <div class="home__bottom-slider-card-info">
                                <div class="home__bottom-slider-card-info-item">
                                    15 марта
                                </div>
                                <div class="home__bottom-slider-card-info-item">
                                    <svg width="14" height="14" aria-hidden="true" class="icon-views">
                                        <use xlink:href="#views"></use>
                                    </svg>
                                    57К
                                </div>
                            </div>
                        </a>
                        <div class="home__bottom-slider-card-btns">
                            <a href="#" class="home__bottom-slider-card-btn">
                                <div class="home__bottom-slider-card-btn-icon">
                                    <svg width="18" height="18" aria-hidden="true" class="icon-sharing">
                                        <use xlink:href="#sharing"></use>
                                    </svg>
                                </div>
                            </a>
                            <a href="#" class="home__bottom-slider-card-btn">
                                <div class="home__bottom-slider-card-btn-icon">
                                    <svg width="18" height="18" aria-hidden="true" class="icon-like">
                                        <use xlink:href="#like"></use>
                                    </svg>
                                </div>
                                <div class="home__bottom-slider-card-btn-text">
                                    3К
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </li>
            <li class="catalog__results-list-item">
                <div class="home__bottom-slider-card">
                    <a href="#" class="home__bottom-slider-card-image-container">
                        <img src="img/home-bottom-slider/3.jpg" alt="" class="home__bottom-slider-card-image">
                        <div class="home__bottom-slider-card-category">
                            Видеокарта
                        </div>
                    </a>
                    <div class="home__bottom-slider-card-content">
                        <a href="#" class="home__bottom-slider-card-content-inner">


                            <h3 class="home__bottom-slider-card-title">
                                Nvidia представила RTX3
                            </h3>
                            <div class="home__bottom-slider-card-text">
                                <p>
                                    Наконец-то NVIDIA представила архитектуру графических
                                    процессоров
                                    нового
                                    поколения
                                </p>
                            </div>
                            <div class="home__bottom-slider-card-info">
                                <div class="home__bottom-slider-card-info-item">
                                    15 марта
                                </div>
                                <div class="home__bottom-slider-card-info-item">
                                    <svg width="14" height="14" aria-hidden="true" class="icon-views">
                                        <use xlink:href="#views"></use>
                                    </svg>
                                    57К
                                </div>
                            </div>
                        </a>
                        <div class="home__bottom-slider-card-btns">
                            <a href="#" class="home__bottom-slider-card-btn">
                                <div class="home__bottom-slider-card-btn-icon">
                                    <svg width="18" height="18" aria-hidden="true" class="icon-sharing">
                                        <use xlink:href="#sharing"></use>
                                    </svg>
                                </div>
                            </a>
                            <a href="#" class="home__bottom-slider-card-btn">
                                <div class="home__bottom-slider-card-btn-icon">
                                    <svg width="18" height="18" aria-hidden="true" class="icon-like">
                                        <use xlink:href="#like"></use>
                                    </svg>
                                </div>
                                <div class="home__bottom-slider-card-btn-text">
                                    3К
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
        <div class="catalog__controls">
            <div class="catalog__pagination-links">
                <a href="#" class="catalog__pagination-link active">
                    1
                </a>
                <a href="#" class="catalog__pagination-link">
                    2
                </a>
                <a href="#" class="catalog__pagination-link">
                    3
                </a>
                <a href="#" class="catalog__pagination-link">
                    4
                </a>
                <a href="#" class="catalog__pagination-link">
                    5
                </a>
            </div>
            <div class="catalog__posts-per-page">
                <div class="catalog__posts-per-page-select">
                    <select name="perpage" class="js-custom-select">
                        <option value="10">10</option>
                        <option value="20">20</option>
                        <option value="30">30</option>
                        <option value="40">40</option>
                    </select>
                </div>
                <div class="catalog__posts-per-page-text">
                    Выводить<br> на странице
                </div>


            </div>
            <div class="catalog__show-more-btn-wrapper">


                <a href="#" class="catalog__show-more-btn">
                    Показать еще
                </a>
            </div>
        </div>
    </div>
</section>

{{/content}}
{{/extend}}