{{#extend "layout"}}
{{#content "main"}}


<section class="home">
    <div class="container">
        <div class="home__top-slider js-home-top-slider">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <a href="#" class="home__top-slider-card">
                            <div class="home__top-slider-card-bg">
                                <img src="img/home-top-slider/1.jpg" alt="" class="home__top-slider-card-bg-image">
                            </div>
                            <div class="home__top-slider-card-category">
                                14 статей
                            </div>
                            <h4 class="home__top-slider-card-title">
                                процессоры
                            </h4>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="home__top-slider-card home__top-slider-card--dark-text">
                            <div class="home__top-slider-card-bg">
                                <img src="img/home-top-slider/2.png" alt="" class="home__top-slider-card-bg-image">
                            </div>
                            <div class="home__top-slider-card-category">
                                14 статей
                            </div>
                            <h4 class="home__top-slider-card-title">
                                сборки пк
                            </h4>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="home__top-slider-card">
                            <div class="home__top-slider-card-bg">
                                <img src="img/home-top-slider/3.jpg" alt="" class="home__top-slider-card-bg-image">
                            </div>
                            <div class="home__top-slider-card-category">
                                14 статей
                            </div>
                            <h4 class="home__top-slider-card-title">
                                Видеокарта
                            </h4>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="home__top-slider-card">
                            <div class="home__top-slider-card-bg">
                                <img src="img/home-top-slider/4.png" alt="" class="home__top-slider-card-bg-image">
                            </div>
                            <div class="home__top-slider-card-category">
                                14 статей
                            </div>
                            <h4 class="home__top-slider-card-title">
                                Игры на ПК
                            </h4>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="home__top-slider-card">
                            <div class="home__top-slider-card-bg">
                                <img src="img/home-top-slider/5.jpg" alt="" class="home__top-slider-card-bg-image">
                            </div>
                            <div class="home__top-slider-card-category">
                                14 статей
                            </div>
                            <h4 class="home__top-slider-card-title">
                                Периферия
                            </h4>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="home__top-slider-card home__top-slider-card--dark-text">
                            <div class="home__top-slider-card-bg">
                                <img src="img/home-top-slider/2.png" alt="" class="home__top-slider-card-bg-image">
                            </div>
                            <div class="home__top-slider-card-category">
                                14 статей
                            </div>
                            <h4 class="home__top-slider-card-title">
                                сборки пк
                            </h4>
                        </a>
                    </div>

                    <div class="swiper-slide">
                        <a href="#" class="home__top-slider-card">
                            <div class="home__top-slider-card-bg">
                                <img src="img/home-top-slider/3.jpg" alt="" class="home__top-slider-card-bg-image">
                            </div>
                            <div class="home__top-slider-card-category">
                                14 статей
                            </div>
                            <h4 class="home__top-slider-card-title">
                                Видеокарта
                            </h4>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="home__bottom-slider js-home-bottom-slider">
            <div class="home__bottom-slider-row">


                <button class="home__bottom-slider-arrow home__bottom-slider-arrow--prev">
                    <div class="home__bottom-slider-arrow-content">
                        <svg width="14" height="14" aria-hidden="true" class="icon-arrow-left">
                            <use xlink:href="#arrow-left"></use>
                        </svg>
                    </div>

                </button>
                <div class="home__bottom-slider-content">
                    <div class="swiper-container">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="home__bottom-slider-card">



                                    <a href="#" class="home__bottom-slider-card-image-container">
                                        <img src="img/home-bottom-slider/1.jpg" alt=""
                                            class="home__bottom-slider-card-image">
                                        <div class="home__bottom-slider-card-category">
                                            Видеокарта
                                        </div>
                                    </a>
                                    <div class="home__bottom-slider-card-content">
                                        <a href="#" class="home__bottom-slider-card-content-inner">


                                            <h3 class="home__bottom-slider-card-title">
                                                Nvidia представила RTX3
                                            </h3>
                                            <div class="home__bottom-slider-card-text">
                                                <p>
                                                    Наконец-то NVIDIA представила архитектуру графических
                                                    процессоров
                                                    нового
                                                    поколения
                                                </p>
                                            </div>
                                            <div class="home__bottom-slider-card-info">
                                                <div class="home__bottom-slider-card-info-item">
                                                    15 марта
                                                </div>
                                                <div class="home__bottom-slider-card-info-item">
                                                    <svg width="14" height="14" aria-hidden="true" class="icon-views">
                                                        <use xlink:href="#views"></use>
                                                    </svg>
                                                    57К
                                                </div>
                                            </div>
                                        </a>
                                        <div class="home__bottom-slider-card-btns">
                                            <div class="home__bottom-slider-card-btn">
                                                <div class="home__bottom-slider-card-btn-icon">
                                                    <svg width="18" height="18" aria-hidden="true" class="icon-sharing">
                                                        <use xlink:href="#sharing"></use>
                                                    </svg>
                                                </div>
                                                <div class="sharing-dropdown">
                                                    <div class="sharing-dropdown__inner">
                                                        <a href="#" class="sharing-dropdown__link">
                                                            <svg width="14" height="14" aria-hidden="true"
                                                                class="icon-facebook">
                                                                <use xlink:href="#facebook"></use>
                                                            </svg>
                                                            Фейсбук
                                                        </a>
                                                        <a href="#" class="sharing-dropdown__link">
                                                            <svg width="14" height="14" aria-hidden="true"
                                                                class="icon-vk">
                                                                <use xlink:href="#vk"></use>
                                                            </svg>
                                                            Вконтакте
                                                        </a>
                                                        <a href="#" class="sharing-dropdown__link">
                                                            <svg width="14" height="14" aria-hidden="true"
                                                                class="icon-twitter">
                                                                <use xlink:href="#twitter"></use>
                                                            </svg>
                                                            Твиттер
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                            <a href="#" class="home__bottom-slider-card-btn">
                                                <div class="home__bottom-slider-card-btn-icon">
                                                    <svg width="18" height="18" aria-hidden="true" class="icon-like">
                                                        <use xlink:href="#like"></use>
                                                    </svg>
                                                </div>
                                                <div class="home__bottom-slider-card-btn-text">
                                                    3К
                                                </div>
                                            </a>
                                        </div>
                                    </div>


                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="home__bottom-slider-card">



                                    <a href="#" class="home__bottom-slider-card-image-container">
                                        <img src="img/home-bottom-slider/1.jpg" alt=""
                                            class="home__bottom-slider-card-image">
                                        <div class="home__bottom-slider-card-category">
                                            Видеокарта
                                        </div>
                                    </a>
                                    <div class="home__bottom-slider-card-content">
                                        <a href="#" class="home__bottom-slider-card-content-inner">


                                            <h3 class="home__bottom-slider-card-title">
                                                Nvidia представила RTX3
                                            </h3>
                                            <div class="home__bottom-slider-card-text">
                                                <p>
                                                    Наконец-то NVIDIA представила архитектуру графических
                                                    процессоров
                                                    нового
                                                    поколения
                                                </p>
                                            </div>
                                            <div class="home__bottom-slider-card-info">
                                                <div class="home__bottom-slider-card-info-item">
                                                    15 марта
                                                </div>
                                                <div class="home__bottom-slider-card-info-item">
                                                    <svg width="14" height="14" aria-hidden="true" class="icon-views">
                                                        <use xlink:href="#views"></use>
                                                    </svg>
                                                    57К
                                                </div>
                                            </div>
                                        </a>
                                        <div class="home__bottom-slider-card-btns">
                                            <div class="home__bottom-slider-card-btn">
                                                <div class="home__bottom-slider-card-btn-icon">
                                                    <svg width="18" height="18" aria-hidden="true" class="icon-sharing">
                                                        <use xlink:href="#sharing"></use>
                                                    </svg>
                                                </div>

                                                <div class="sharing-dropdown">
                                                    <div class="sharing-dropdown__inner">
                                                        <a href="#" class="sharing-dropdown__link">
                                                            <svg width="14" height="14" aria-hidden="true"
                                                                class="icon-facebook">
                                                                <use xlink:href="#facebook"></use>
                                                            </svg>
                                                            Фейсбук
                                                        </a>
                                                        <a href="#" class="sharing-dropdown__link">
                                                            <svg width="14" height="14" aria-hidden="true"
                                                                class="icon-vk">
                                                                <use xlink:href="#vk"></use>
                                                            </svg>
                                                            Вконтакте
                                                        </a>
                                                        <a href="#" class="sharing-dropdown__link">
                                                            <svg width="14" height="14" aria-hidden="true"
                                                                class="icon-twitter">
                                                                <use xlink:href="#twitter"></use>
                                                            </svg>
                                                            Твиттер
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                            <a href="#" class="home__bottom-slider-card-btn">
                                                <div class="home__bottom-slider-card-btn-icon">
                                                    <svg width="18" height="18" aria-hidden="true" class="icon-like">
                                                        <use xlink:href="#like"></use>
                                                    </svg>
                                                </div>
                                                <div class="home__bottom-slider-card-btn-text">
                                                    3К
                                                </div>
                                            </a>
                                        </div>
                                    </div>


                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="home__bottom-slider-card">



                                    <a href="#" class="home__bottom-slider-card-image-container">
                                        <img src="img/home-bottom-slider/1.jpg" alt=""
                                            class="home__bottom-slider-card-image">
                                        <div class="home__bottom-slider-card-category">
                                            Видеокарта
                                        </div>
                                    </a>
                                    <div class="home__bottom-slider-card-content">
                                        <a href="#" class="home__bottom-slider-card-content-inner">


                                            <h3 class="home__bottom-slider-card-title">
                                                Nvidia представила RTX3
                                            </h3>
                                            <div class="home__bottom-slider-card-text">
                                                <p>
                                                    Наконец-то NVIDIA представила архитектуру графических
                                                    процессоров
                                                    нового
                                                    поколения
                                                </p>
                                            </div>
                                            <div class="home__bottom-slider-card-info">
                                                <div class="home__bottom-slider-card-info-item">
                                                    15 марта
                                                </div>
                                                <div class="home__bottom-slider-card-info-item">
                                                    <svg width="14" height="14" aria-hidden="true" class="icon-views">
                                                        <use xlink:href="#views"></use>
                                                    </svg>
                                                    57К
                                                </div>
                                            </div>
                                        </a>
                                        <div class="home__bottom-slider-card-btns">
                                            <div class="home__bottom-slider-card-btn">
                                                <div class="home__bottom-slider-card-btn-icon">
                                                    <svg width="18" height="18" aria-hidden="true" class="icon-sharing">
                                                        <use xlink:href="#sharing"></use>
                                                    </svg>
                                                </div>

                                                <div class="sharing-dropdown">
                                                    <div class="sharing-dropdown__inner">
                                                        <a href="#" class="sharing-dropdown__link">
                                                            <svg width="14" height="14" aria-hidden="true"
                                                                class="icon-facebook">
                                                                <use xlink:href="#facebook"></use>
                                                            </svg>
                                                            Фейсбук
                                                        </a>
                                                        <a href="#" class="sharing-dropdown__link">
                                                            <svg width="14" height="14" aria-hidden="true"
                                                                class="icon-vk">
                                                                <use xlink:href="#vk"></use>
                                                            </svg>
                                                            Вконтакте
                                                        </a>
                                                        <a href="#" class="sharing-dropdown__link">
                                                            <svg width="14" height="14" aria-hidden="true"
                                                                class="icon-twitter">
                                                                <use xlink:href="#twitter"></use>
                                                            </svg>
                                                            Твиттер
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                            <a href="#" class="home__bottom-slider-card-btn">
                                                <div class="home__bottom-slider-card-btn-icon">
                                                    <svg width="18" height="18" aria-hidden="true" class="icon-like">
                                                        <use xlink:href="#like"></use>
                                                    </svg>
                                                </div>
                                                <div class="home__bottom-slider-card-btn-text">
                                                    3К
                                                </div>
                                            </a>
                                        </div>
                                    </div>


                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <button class="home__bottom-slider-arrow home__bottom-slider-arrow--next">
                    <div class="home__bottom-slider-arrow-content">
                        <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                            <use xlink:href="#arrow-right"></use>
                        </svg>
                    </div>

                </button>
            </div>
            <div class="home__bottom-slider-pagination">
                <div class="home__bottom-slider-pagination-bullet">

                </div>
                <div class="home__bottom-slider-pagination-bullet">

                </div>
                <div class="home__bottom-slider-pagination-bullet">

                </div>
            </div>
        </div>
    </div>
</section>


{{/content}}
{{/extend}}