{{#extend "layout"}}
{{#content "main"}}

<section class="not-found">
    <div class="container">
        <div class="not-found__content">
            <div class="not-found__icon">


                <svg width="14" height="14" aria-hidden="true" class="icon-404">
                    <use xlink:href="#404"></use>
                </svg>
            </div>
            <div class="not-found__content-text">
                <h1 class="not-found__heading">
                    Страница не найдена
                </h1>
                <div class="not-found__text">
                    <p>
                        Неправильно набран адрес, или такой страницы на сайте больше не существует.
                    </p>
                </div>
                <div class="not-found__link-wrapper">
                    <a href="#" class="not-found__link">
                        На главную

                    </a>
                </div>
            </div>


        </div>
    </div>
</section>

{{/content}}
{{/extend}}