.article {
    padding-top: 18rem;
}

.article__back-link {
    display: inline-flex;
    align-items: center;
    justify-self: center;
    flex-shrink: 0;
    font-weight: bold;
    font-size: 1.1rem;
    line-height: 1.4rem;
    margin-bottom: 6rem;
    text-transform: uppercase;
    transition: color 0.2s;

    @include breakpoint(mobile) {
        margin-bottom: 4rem;
    }
    svg {
        width: 1.7rem;
        height: 1.7rem;
        fill: var(--text-color);
        flex-shrink: 0;
        margin-right: 1.6rem;
        transition: fill 0.2s;
    }
}

.article__content {
    width: 100%;
    max-width: 120rem;
    margin: 0 auto;

    @include breakpoint(mobile) {
        max-width: none;
        margin: 0;
    }
}

.article__main-heading {
    font-weight: bold;
    font-size: 6rem;
    line-height: 1.2;
    letter-spacing: 0.07em;
    text-transform: uppercase;
    margin-bottom: 3rem;

    @include breakpoint(mobile) {
        font-size: 3rem;
        line-height: 1.2;
        margin-bottom: 1.5rem;
    }
}

.article__info {
    display: flex;
    align-items: center;
    margin-bottom: 8rem;
    margin-left: 0.3rem;

    @include breakpoint(mobile) {
        margin-left: 0;
        margin-bottom: 3rem;
    }
}

.article__tags {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-right: 3rem;

    @include breakpoint(mobile) {
        margin-right: 2rem;
    }
}

.article__tag {
    font-weight: bold;
    font-size: 1.1rem;
    line-height: 1.4rem;
    text-transform: uppercase;

    padding: 0.6rem 0.7rem;
    background-color: var(--primary-color);
    border-radius: 0.6rem;
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
    margin-right: 0.4rem;
    display: inline-flex;
    color: white;

    .color-theme-grayscale & {
        background-color: black;
        color: white;
    }
    &:last-child {
        margin-right: 0;
    }
    &:link,
    &:visited {
        color: white;
    }
}

.article__date {
    font-weight: bold;
    font-size: 1.1rem;
    line-height: 1.4rem;
    text-transform: uppercase;
}

.article__intro-image-wrapper {
    margin: 0 calc((100vw - 100% - var(--sb-width, 0)) / 2 * -1);
    margin-bottom: 9rem;
    display: block;
    @include breakpoint(mobile) {
        margin-bottom: 2rem;
    }
}

.article__intro-image {
    display: block;
    height: auto;
    width: 100%;
    @include objectFitCover();
}

.article__text-content {
    color: var(--article-text-content-color);
    font-size: 2.4rem;
    line-height: 3.4rem;
    // padding-left: 15rem;
    // padding-right: 15rem;
    margin-bottom: 7.5rem;
    padding-bottom: 9rem;
    position: relative;

    @include breakpoint(tablet) {
        padding-left: 0;
        padding-right: 0;
    }

    @include breakpoint(mobile) {
        margin: 0;
        padding-bottom: 3rem;
        margin-bottom: 3rem;
        font-size: 1.8rem;
        line-height: 1.3;
    }
    &::before {
        content: '';
        position: absolute;
        left: calc((100vw - 100% - var(--sb-width, 0)) / 2 * -1);
        right: calc((100vw - 100% - var(--sb-width, 0)) / 2 * -1);
        bottom: 0;
        height: 1px;
        pointer-events: none;
        background-color: var(--text-color);
        opacity: 0.1;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin-bottom: 2.6rem;
        margin-top: 8rem;
        font-weight: bold;
        font-size: 3.2rem;
        line-height: 4rem;
        color: var(--text-color);

        @include breakpoint(mobile) {
            margin-bottom: 1.5rem;
            font-size: 2rem;
            line-height: 1.3;
            margin-top: 3.5rem;
        }
        &:first-child {
            margin-top: 0;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }

    video {
        display: block;
        width: 100%;
        height: auto;
        margin-bottom: 3.8rem;

        @include breakpoint(mobile) {
            margin-bottom: 2rem;
        }
        &:last-child {
            margin-bottom: 0;
        }
    }

    img {
        display: block;

        height: auto;
        margin-bottom: 3.8rem;

        @include breakpoint(mobile) {
            margin-bottom: 2rem;
        }
        &:last-child {
            margin-bottom: 0;
        }
    }

    p {
        margin-bottom: 3.8rem;

        @include breakpoint(mobile) {
            margin-bottom: 2rem;
        }
        &:last-child {
            margin-bottom: 0;
        }
    }

    big {
        font-size: 3.5rem;
        line-height: 4.8rem;
        font-weight: 500;
        color: var(--text-color);

        @include breakpoint(mobile) {
            font-size: 2rem;
            line-height: 1.3;
        }
    }

    ul,
    ol {
        margin-bottom: 3.8rem;

        @include breakpoint(mobile) {
            margin-bottom: 2rem;
        }

        & > li {
            margin-bottom: 2rem;
            position: relative;

            & > p,
            & > h1,
            & > h2,
            & > h3,
            & > h4,
            & > h5 {
                display: contents;
            }

            @include breakpoint(mobile) {
                margin-bottom: 1.5rem;
            }

            &:last-child {
                margin-bottom: 0;
            }
        }
        &:last-child {
            margin-bottom: 0;
        }
    }

    ul > li {
        &::before {
            content: '';
            right: 100%;
            top: 1.3rem;
            width: 0.6rem;
            height: 0.6rem;
            border-radius: 50%;
            background-color: var(--primary-color);
            position: absolute;
            margin-right: 1.6rem;

            @include breakpoint(mobile) {
                width: 0.6rem;
                height: 0.6rem;
                margin-right: 0.6rem;
                top: 0.8rem;
                position: static;
                display: inline-block;
                vertical-align: top;
                margin-top: 0.85rem;
            }
        }
    }

    ol > li {
        &::before {
            content: counter(ordered-list);
            font-weight: bold;
            color: var(--primary-color);
            right: 100%;
            top: 0;
            position: absolute;
            margin-right: 1rem;

            @include breakpoint(mobile) {
                margin-right: 0.3rem;
                position: static;
                vertical-align: top;
            }
        }
    }

    figure {
        // margin: 0 -15rem;
        margin-bottom: 3.8rem;

        @include breakpoint(tablet) {
            margin-left: 0;
            margin-right: 0;
        }

        @include breakpoint(mobile) {
            margin: 0;
            margin-bottom: 3rem;
            margin-top: 3rem;
        }
        &:last-child {
            margin-bottom: 0;
        }

        img {
            width: 100%;
            display: block;
            height: auto;
        }

        figcaption {
            padding-right: 15rem;
            text-align: right;
            margin-top: 2rem;
            font-size: 1.8rem;
            line-height: 2.6rem;
            color: var(--text-color);
            opacity: 0.3;

            @include breakpoint(tablet) {
                padding-right: 0;
            }

            @include breakpoint(mobile) {
                padding-right: 0;
                margin-top: 1.5rem;
                font-size: 1.4rem;
                line-height: 1.3;
            }
        }
    }

    blockquote {
        color: var(--primary-color);
        font-weight: bold;
        font-size: 9rem;
        line-height: 11rem;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        margin: 7rem 0;
        padding: 5rem 0;
        border-top: 1px solid var(--article-table-border-color);
        border-bottom: 1px solid var(--article-table-border-color);
        position: relative;

        @include breakpoint(tablet) {
            margin-left: 0;
            margin-right: 0;
        }

        @include breakpoint(mobile) {
            margin: 0;
            padding: 3rem 0;
            font-size: 3.2rem;
            line-height: 1.3;
        }

        svg {
            right: 100%;
            top: 12rem;
            width: 6.8rem;
            height: 5.7rem;
            position: absolute;
            pointer-events: none;
            fill: var(--bg-color);
            margin-right: 9rem;
            filter: drop-shadow(0px 0px 1rem var(--catalog-controls-shadow-color));

            @include breakpoint(mobile) {
                display: none;
            }
        }
    }
}

.article__text-content-fullwidth {
    margin-bottom: 3.8rem;

    @include breakpoint(tablet) {
        margin-left: 0;
        margin-right: 0;
    }

    @include breakpoint(mobile) {
        margin: 0;
        margin-bottom: 2rem;
    }
    &:last-child {
        margin-bottom: 0;
    }
}

.article__text-content-comparison-table {
    margin: 0;
    margin-bottom: 3.8rem;
    margin-top: 3.8rem;

    @include breakpoint(tablet) {
        margin-left: 0;
        margin-right: 0;
    }

    @include breakpoint(mobile) {
        margin: 0;
        margin-bottom: 2rem;
        margin-top: 2rem;
        overflow-y: hidden;
        -webkit-overflow-scrolling: touch;
        padding-bottom: 2rem;
    }
    &:last-child {
        margin-bottom: 0;
    }

    table {
        width: 100%;
        border-collapse: collapse;

        @include breakpoint(mobile) {
            width: auto;
            min-width: 100%;
        }

        th,
        td {
            vertical-align: top;
            text-align: left;
            color: var(--article-text-content-color);

            &.selected {
                color: var(--text-color);
            }
        }

        th {
            font-weight: bold;
            font-size: 1.8rem;
            line-height: 2.6rem;
            padding-bottom: 2rem;
            border-bottom: 1px solid var(--article-table-border-color);

            @include breakpoint(mobile) {
                font-size: 1.6rem;
                line-height: 1.3;
                padding-bottom: 1.5rem;
                white-space: nowrap;
                padding-right: 2rem;
            }
        }

        td {
            font-size: 1.8rem;
            line-height: 2.6rem;
            padding-bottom: 1rem;
            padding-right: 2rem;
            vertical-align: middle;

            @include breakpoint(mobile) {
                font-size: 1.6rem;
                line-height: 1.3;
                padding-bottom: 0.6rem;
                padding-right: 2rem;
            }
            &.selected {
                font-weight: 500;
            }
        }

        tbody {
            tr:first-child {
                td {
                    padding-top: 2.7rem;
                    @include breakpoint(mobile) {
                        padding-top: 1.5rem;
                    }
                }
            }

            tr:last-child {
                td {
                    padding-bottom: 0;
                }
            }
        }
    }
}

.article__text-content-comparison-table-game-title {
    display: flex;
    align-items: center;
    font-weight: bold;
    color: var(--text-color);
    flex-shrink: 0;

    @include breakpoint(mobile) {
        width: 20rem;
    }
}

.article__text-content-comparison-table-game-cover {
    flex-shrink: 0;
    width: 5rem;
    margin-right: 1.8rem;
    height: auto;

    @include breakpoint(mobile) {
        width: 3.5rem;
        margin-right: 1.5rem;
    }
}

.article__text-content-gallery-slider {
    margin: 10rem 0;

    @include breakpoint(tablet) {
        margin-left: 0;
        margin-right: 0;
    }

    @include breakpoint(mobile) {
        margin-top: 4rem;
        margin-bottom: 4rem;
    }
}

.article__text-content-gallery-slider-wrapper {
    position: relative;
}

.article__text-content-gallery-slider-card {
    position: relative;
    &::before {
        content: '';
        display: block;
        width: 100%;
        padding-bottom: 56.25%;
    }
}

.article__text-content-gallery-slider-card-image {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    @include objectFitCover();
}

.article__text-content-gallery-slider-arrow {
    display: inline-flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 23rem;

    @include breakpoint(small-tablet) {
        display: none;
    }
    &--prev {
        right: 100%;
        margin-right: 3.2rem;
    }

    &--next {
        left: 100%;
        margin-left: 3.2rem;
    }

    @include breakpoint(mobile) {
        display: none;
    }

    .no-touch &:hover {
        .article__text-content-gallery-slider-arrow-content {
            transform: translateY(0.8rem);
        }
    }

    &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        margin-top: 0.8rem;
        border-radius: 1.6rem;
        border: 1px solid var(--btn-borders-color);
        z-index: -1;
        background: var(--btn-borders-color);
    }
}

.article__text-content-gallery-slider-arrow-content {
    width: 6rem;
    border: 1px solid var(--btn-borders-color);
    border-radius: 1.6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--bg-color);
    flex-grow: 1;
    transition: box-shadow 0.3s, transform 0.3s, border-color 0.3s;

    svg {
        width: 1.4rem;
        height: 1.4rem;
    }
}

.article__text-content-gallery-slider-pagination {
    display: flex;
    margin-top: 2.2rem;
    justify-content: center;

    @include breakpoint(mobile) {
        margin-top: 1.8rem;
    }
}

.article__text-content-gallery-slider-pagination-bullet {
    width: 10rem;
    flex-shrink: 1;
    height: 0.2rem;
    position: relative;
    margin-right: 0.3rem;
    background-color: var(--home-bottom-slider-pagination-bullet-bg);

    @include breakpoint(mobile) {
        width: 5rem;
    }
    &:last-child {
        margin-right: 0;
    }

    &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: var(--home-bottom-slider-pagination-bullet-thumb);
        transform-origin: left center;
        transform: scaleX(var(--slider-progress, 0));
        box-shadow: 0px 0px 1rem var(--progress-glow);
    }
}

.article__text-content--no-bar::before {
    display: none;
}

.article__text-content-specs-table {
    margin-bottom: 3.8rem;

    @include breakpoint(mobile) {
        margin-bottom: 2rem;
    }

    table {
        width: 100%;
        border-collapse: collapse;
    }
    th,
    td {
        font-size: 1.8rem;
        line-height: 2.6rem;
        font-weight: 400;
        text-align: left;
        vertical-align: top;
        padding-bottom: 1.5rem;

        @include breakpoint(mobile) {
            font-size: 1.2rem;
            line-height: 1.3;
            padding-bottom: 1rem;
        }
    }

    th {
        color: var(--article-text-content-color);
        display: flex;
        align-items: baseline;
        &::after {
            content: '';
            height: 1px;
            width: 1rem;
            flex-shrink: 0;
            background-color: var(--article-table-border-color);
            flex-grow: 1;
            align-self: baseline;
            margin: 0 1rem;
        }
    }

    td {
        color: var(--text-color);

        @include breakpoint(mobile) {
            white-space: nowrap;
        }
    }
    &:last-child {
        margin-bottom: 0;
    }
}

.article__bottom-controls {
    margin-bottom: 7.5rem;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-gap: 2rem;
    @include breakpoint(mobile) {
        margin-bottom: 4rem;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        grid-template-areas: 'joystick joystick' 'like up';
    }
}

.article__bottom-controls-joystick {
    display: grid;

    grid-template-columns: minmax(0, 1fr) minmax(auto, 16rem) minmax(0, 1fr);

    @include breakpoint(mobile) {
        grid-template-columns: minmax(0, 1fr) minmax(auto, 8rem) minmax(0, 1fr);
        margin-bottom: 1rem;
        grid-area: joystick;
    }
}

.article__bottom-controls-total-count {
    width: 100%;
    display: flex;

    align-items: center;
    justify-content: center;
    min-height: 10rem;
    font-weight: bold;
    font-size: 2.1rem;
    line-height: 1.2;
    letter-spacing: 0.06em;
    padding-left: 0.5rem;
    padding-right: 0.5rem;

    text-transform: uppercase;
    border: 1px solid var(--catalog-controls-border-color);
    border-radius: 1.6rem;
    background-color: var(--catalog-controls-bg-color);

    svg {
        width: 2.8rem;
        height: 1.5rem;
        fill: currentColor;
        margin-right: 0.8rem;

        @include breakpoint(mobile) {
            width: 1.6rem;
            height: 1.6rem;
        }
    }

    @include breakpoint(mobile) {
        font-size: 1.4rem;
        line-height: 1.3;
        min-height: 5.5rem;
        border-radius: 0.6rem;
    }
}

.article__bottom-controls-joystick-wrapper {
    grid-column: 2 / 3;

    @include breakpoint(mobile) {
        grid-column: initial;
        grid-area: joystick;
    }
}

.article__bottom-controls-joystick-btn {
    display: inline-flex;
    align-items: center;
    font-size: 1.7rem;
    line-height: 1.2;
    position: relative;
    @include breakpoint(mobile) {
        font-size: 1.4rem;
        line-height: 1.3;
    }

    &:hover {
        .sharing-dropdown {
            opacity: 1;
            visibility: inherit;
            transition: opacity 0.3s, visibility 0.3s;
        }
    }

    .no-touch &:hover {
        .article__bottom-controls-joystick-btn-icon {
            background-color: var(--primary-color);
            border-color: var(--primary-color);

            svg {
                fill: white;
            }
        }
    }

    &:first-child {
        justify-self: flex-end;
        text-align: right;
        .article__bottom-controls-joystick-btn-icon {
            margin-left: 2.2rem;
            border-top-left-radius: 1.6rem;
            border-bottom-left-radius: 1.6rem;
            border-right: none;

            @include breakpoint(mobile) {
                margin-left: 1rem;
                border-top-left-radius: 0.6rem;
                border-bottom-left-radius: 0.6rem;
            }
        }
    }

    &:last-child {
        text-align: left;
        justify-self: flex-start;
        .article__bottom-controls-joystick-btn-icon {
            margin-right: 2.2rem;
            border-top-right-radius: 1.6rem;
            border-bottom-right-radius: 1.6rem;
            border-left: none;

            @include breakpoint(mobile) {
                margin-right: 1rem;
                border-top-right-radius: 0.6rem;
                border-bottom-right-radius: 0.6rem;
            }
        }
    }
}

.article__bottom-controls-joystick-btn-icon {
    width: 6rem;
    height: 6rem;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--catalog-controls-border-color);
    background-color: var(--catalog-controls-bg-color);
    flex-shrink: 0;
    transition: background-color 0.2s, border-color 0.2s;

    @include breakpoint(mobile) {
        width: 4rem;
        height: 4rem;
    }
}

.article__bottom-controls-bottom-text {
    text-align: center;
    font-size: 1.7rem;
    line-height: 1.2;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 100%;
    @include breakpoint(mobile) {
        font-size: 1.4rem;
        line-height: 1.3;
        position: static;
        transform: none;
        left: auto;
        top: auto;
    }
}

.article__like-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 1.7rem;
    line-height: 1.2;
    padding: 1.8rem 2.2rem;
    border: 1px solid var(--catalog-controls-border-color);
    background-color: var(--catalog-controls-bg-color);
    color: var(--text-color);
    transition: color 0.2s, background-color 0.2s, border-color 0.2s, box-shadow 0.2s;
    align-self: center;
    justify-self: flex-start;
    border-radius: 1.6rem;

    @include breakpoint(mobile) {
        font-size: 1.4rem;
        padding: 1.5rem 1.5rem;
        grid-area: like;
    }
    &:link,
    &:visited {
        color: var(--text-color);
    }
    svg {
        width: 2.2rem;
        height: 2.2rem;
        flex-shrink: 0;
        margin-right: 2rem;
        fill: transparent;
        transition: fill 0.2s;

        @include breakpoint(mobile) {
            width: 1.6rem;
            height: 1.5rem;
            margin-right: 1rem;
        }
    }

    .no-touch &:hover,
    &.active {
        box-shadow: 0px 0px 1.4rem var(--catalog-controls-shadow-color);
        svg {
            fill: var(--text-color);
        }
    }
}

.article__scroll-up-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 1.3rem;
    line-height: 1.2;
    padding: 1.9rem 2.2rem;
    border: 1px solid var(--catalog-controls-border-color);
    background-color: var(--catalog-controls-bg-color);
    color: var(--text-color);
    transition: color 0.2s, background-color 0.2s, border-color 0.2s, box-shadow 0.2s;
    align-self: center;
    justify-self: flex-start;
    border-radius: 1.6rem;
    text-transform: uppercase;
    margin-left: auto;
    grid-column: 3 / 4;
    @include breakpoint(mobile) {
        font-size: 1.4rem;
        padding: 1.5rem 1.5rem;
        grid-column: initial;
        border-radius: 0.6rem;
        grid-area: up;
    }
    &:link,
    &:visited {
        color: var(--text-color);
    }

    svg {
        width: 2rem;
        height: 2rem;
        flex-shrink: 0;
        margin-left: 1.6rem;
        fill: var(--text-color);
        transition: fill 0.2s;
        margin-bottom: 0.2rem;

        @include breakpoint(mobile) {
            width: 1.6rem;
            height: 1.6rem;
            margin-left: 1rem;
        }
    }

    .no-touch &:hover,
    &.active {
        box-shadow: 0px 0px 1.4rem var(--catalog-controls-shadow-color);
        svg {
            fill: var(--text-color);
        }
    }
}
