*,
*::after,
*::before {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    
}

:root {
    --max-container-width: 157.5rem;

    --content-padding: 6rem;
    --muller: 'Muller', sans-serif;

    @include breakpoint(mobile) {
        --content-padding: 1.6rem;
    }
}

body {
    --primary-color: #9c5de0;
    --primary-color-hover: #4e3070;
    --bg-color: #0c001c;
    --btn-borders-color: #402260;
    --text-color: white;
    --theme-btn-dark-color: rgba(255, 255, 255, 0.301);
    --theme-btn-dark-color-active: #949ed3;
    --theme-btn-light-color: rgba(255, 255, 255, 0.301);
    --theme-btn-light-color-active: #ffc700;
    --tumbler-bg-color: #2c193f;
    --tumbler-circle-color: #949ed3;
    --orb-color: #5f3887;
    --orb-mobile-color: #6e249e;
    --home-mobile-about-text: rgba(255, 255, 255, 0.32);
    --home-bottom-slider-btn-color: #2c193f;
    --home-bottom-slider-btn-text-color: rgba(255, 255, 255, 0.5);
    --home-bottom-slider-pale-text: rgba(255, 255, 255, 0.5);
    --home-bottom-slider-pagination-bullet-bg: rgba(255, 255, 255, 0.1);
    --home-bottom-slider-pagination-bullet-thumb: rgba(128, 0, 255, 0.6);
    --progress-glow: #9327ff;

    --catalog-link-color: rgba(255, 255, 255, 0.4);
    --catalog-link-color-hover: white;
    --catalog-intro-gradient: linear-gradient(180deg, #0c001c 0%, rgba(12, 0, 28, 0.526042) 19.79%, rgba(12, 0, 28, 0.526042) 73.96%, #0c001c 100%);
    --catalog-intro-block-heading-color: white;
    --catalog-intro-arrow-bg: white;
    --catalog-intro-arrow-icon: black;
    --catalog-controls-border-color: #402260;
    --catalog-controls-bg-color: #0c001c;
    --catalog-controls-shadow-color: #9327ff;
    --catalog-popup-btn-bg: rgba(108, 56, 164, 0.2);

    --footer-border-color: rgba(156, 93, 224, 0.3);
    --footer-text-color: rgba(255, 255, 255, 0.3);

    --article-text-content-color: rgba(255, 255, 255, 0.8);
    --article-table-border-color: rgba(255, 255, 255, 0.1);

    --contacts-input-border-color: rgba(255, 255, 255, 0.3);
    --contacts-input-placeholder-color: rgba(255, 255, 255, 0.3);
}

.light-theme {
    --primary-color: #9c5de0;
    --primary-color-hover: #4e3070;
    --bg-color: #efe6fb;
    --btn-borders-color: #e1cef5;
    --text-color: #3a3a3a;
    --theme-btn-dark-color: #e5cdff;
    --theme-btn-dark-color-active: #9c5de0;
    --theme-btn-light-color: #e5cdff;
    --theme-btn-light-color-active: #ffc700;
    --tumbler-bg-color: #e5cdff;
    --tumbler-circle-color: #9c5de0;
    --orb-color: #d1b4f1;
    --orb-mobile-color: #d1b4f1;
    --home-mobile-about-text: rgba(58, 58, 58, 0.5);
    --home-bottom-slider-btn-color: #e8d9f8;
    --home-bottom-slider-btn-text-color: #c6a2ee;
    --home-bottom-slider-pale-text: rgba(58, 58, 58, 0.5);
    --home-bottom-slider-pagination-bullet-bg: rgba(156, 93, 224, 0.1);
    --home-bottom-slider-pagination-bullet-thumb: rgba(156, 93, 224, 0.6);
    --progress-glow: rgba(128, 0, 255, 0.5);

    --catalog-link-color: rgba(58, 58, 58, 0.3);
    --catalog-link-color-hover: rgb(58, 58, 58);
    --catalog-intro-gradient: linear-gradient(180deg, rgba(239, 223, 255, 0) 54.17%, var(--bg-color) 100%),
        linear-gradient(180deg, rgba(239, 223, 255, 0) 54.17%, var(--bg-color) 100%);
    --catalog-intro-block-heading-color: #3a3a3a;
    --catalog-intro-arrow-bg: #3a3a3a;
    --catalog-intro-arrow-icon: white;
    --catalog-controls-border-color: #d4b7f4;
    --catalog-controls-bg-color: #e1caf9;
    --catalog-controls-shadow-color: rgba(147, 39, 255, 0.6);

    --footer-border-color: rgb(156, 93, 224, 0.18);
    --footer-text-color: rgba(58, 58, 58, 0.3);

    --article-text-content-color: rgba(58, 58, 58, 0.8);
    --article-table-border-color: rgba(58, 58, 58, 0.1);

    --contacts-input-border-color: rgba(58, 58, 58, 0.3);
    --contacts-input-placeholder-color: rgba(58, 58, 58, 0.3);

    .page-header--always-dark {
        --text-color: white;
        --primary-color: #9c5de0;
        --primary-color-hover: #4e3070;
        --btn-borders-color: #402260;
        --bg-color: #100916;
        --home-mobile-about-text: rgba(255, 255, 255, 0.32);
        --theme-btn-dark-color: rgba(255, 255, 255, 0.301);
        --theme-btn-dark-color-active: #949ed3;
        --theme-btn-light-color: rgba(255, 255, 255, 0.301);
        --theme-btn-light-color-active: #ffc700;
        --tumbler-bg-color: #2c193f;
        --tumbler-circle-color: #949ed3;
    }
}

.color-theme-grayscale {
    --primary-color: #fff;
    --primary-color-hover: #fff;
    --bg-color: #000000;
    --btn-borders-color: #1b1b1b;
    --text-color: white;
    --theme-btn-dark-color: #3a3a3a;
    --theme-btn-dark-color-active: white;
    --theme-btn-light-color: #3a3a3a;
    --theme-btn-light-color-active: white;
    --tumbler-bg-color: #1b1b1b;
    --tumbler-circle-color: white;
    --orb-color: rgba(255, 255, 255, 0.2);
    --orb-mobile-color: rgba(255, 255, 255, 0.3);
    --home-mobile-about-text: rgba(255, 255, 255, 0.5);
    --home-bottom-slider-btn-color: #0f0f0f;
    --home-bottom-slider-btn-text-color: rgba(255, 255, 255, 0.5);
    --home-bottom-slider-pale-text: rgba(255, 255, 255, 0.5);
    --home-bottom-slider-pagination-bullet-bg: rgba(255, 255, 255, 0.1);
    --home-bottom-slider-pagination-bullet-thumb: white;
    --progress-glow: white;

    --catalog-controls-border-color: #1b1b1b;
    --catalog-controls-bg-color: #000000;
    --catalog-controls-shadow-color: white;

    --footer-border-color: rgba(255, 255, 255, 0.7);
}

.color-theme-grayscale.light-theme {
    --primary-color: #000000;
    --primary-color-hover: #000000;
    --bg-color: #ffffff;
    --btn-borders-color: #e7e7e7;
    --text-color: #000000;
    --theme-btn-dark-color: #c7c7c7;
    --theme-btn-dark-color-active: #000000;
    --theme-btn-light-color: #818181;
    --theme-btn-light-color-active: #000000;
    --tumbler-bg-color: rgba(58, 58, 58, 0.2);
    --tumbler-circle-color: #000000;
    --orb-color: #d1d1d1;
    --orb-mobile-color: #ffffff;
    --home-mobile-about-text: rgba(58, 58, 58, 0.5);
    --home-bottom-slider-btn-color: #e7e7e7;
    --home-bottom-slider-btn-text-color: rgba(58, 58, 58, 0.5);
    --home-bottom-slider-pale-text: rgba(58, 58, 58, 0.5);

    --home-bottom-slider-pagination-bullet-bg: #e7e7e7;
    --home-bottom-slider-pagination-bullet-thumb: black;
    --progress-glow: #e7e7e7;

    --catalog-controls-border-color: #e7e7e7;
    --catalog-controls-bg-color: #ffffff;
    --catalog-controls-shadow-color: rgba(58, 58, 58, 0.15);

    --footer-border-color: rgba(58, 58, 58, 0.5);

    .page-header--always-dark {
        --text-color: white;
        --primary-color: #fff;
        --primary-color-hover: #fff;
        --btn-borders-color: #1b1b1b;
        --bg-color: #000000;
        --home-mobile-about-text: rgba(255, 255, 255, 0.5);
        --theme-btn-dark-color: #3a3a3a;
        --theme-btn-dark-color-active: white;
        --theme-btn-light-color: #3a3a3a;
        --theme-btn-light-color-active: white;
        --tumbler-bg-color: #1b1b1b;
        --tumbler-circle-color: white;
    }
}

.color-theme-blue {
    --primary-color: #4200ff;
    --primary-color-hover: #351392;
    --bg-color: #070019;
    --btn-borders-color: #24008c;
    --text-color: white;
    --theme-btn-dark-color: rgba(255, 255, 255, 0.301);
    --theme-btn-dark-color-active: #949ed3;
    --theme-btn-light-color: rgba(255, 255, 255, 0.301);
    --theme-btn-light-color-active: #ffc700;
    --tumbler-bg-color: #130047;
    --tumbler-circle-color: #949ed3;
    --orb-color: #28009b;
    --orb-mobile-color: #28009b;
    --home-mobile-about-text: rgba(255, 255, 255, 0.32);
    --home-bottom-slider-btn-color: #130047;
    --home-bottom-slider-btn-text-color: #837f8c;
    --home-bottom-slider-pale-text: rgba(255, 255, 255, 0.5);
    --home-bottom-slider-pagination-bullet-bg: rgba(255, 255, 255, 0.1);
    --home-bottom-slider-pagination-bullet-thumb: rgba(66, 0, 255, 0.6);
    --progress-glow: rgba(66, 0, 255, 0.6);

    --catalog-controls-border-color: rgba(66, 0, 255, 0.5);
    --catalog-controls-bg-color: #070019;
    --catalog-controls-shadow-color: #4200ff;

    --footer-border-color: rgba(66, 0, 255, 0.5);
}
.color-theme-blue.light-theme {
    --primary-color: #4200ff;
    --primary-color-hover: #351392;
    --bg-color: #efe6fb;
    --btn-borders-color: #d3c3ff;
    --text-color: #3a3a3a;
    --theme-btn-dark-color: #d4c4ff;
    --theme-btn-dark-color-active: #4200ff;
    --theme-btn-light-color: #d4c4ff;
    --theme-btn-light-color-active: #ffc700;
    --tumbler-bg-color: #d4c4ff;
    --tumbler-circle-color: #4200ff;
    --orb-color: rgba(66, 0, 255, 0.3);
    --orb-mobile-color: rgba(66, 0, 255, 0.3);
    --home-mobile-about-text: rgba(58, 58, 58, 0.5);
    --home-bottom-slider-btn-color: #d3c4ff;
    --home-bottom-slider-btn-text-color: #936dff;
    --home-bottom-slider-pale-text: rgba(58, 58, 58, 0.5);
    --home-bottom-slider-pagination-bullet-bg: rgba(66, 0, 255, 0.1);
    --home-bottom-slider-pagination-bullet-thumb: rgba(66, 0, 255, 0.6);
    --progress-glow: rgba(66, 0, 255, 0.6);

    --catalog-controls-border-color: rgba(66, 0, 255, 0.18);
    --catalog-controls-bg-color: #efe6fb;
    --catalog-controls-shadow-color: #4400ff91;

    --footer-border-color: rgba(66, 0, 255, 0.18);

    .page-header--always-dark {
        --text-color: white;
        --primary-color: #4200ff;
        --primary-color-hover: #351392;
        --btn-borders-color: #24008c;
        --bg-color: #070019;
        --home-mobile-about-text: rgba(255, 255, 255, 0.32);
        --theme-btn-dark-color: rgba(255, 255, 255, 0.301);
        --theme-btn-dark-color-active: #949ed3;
        --theme-btn-light-color: rgba(255, 255, 255, 0.301);
        --theme-btn-light-color-active: #ffc700;
        --tumbler-bg-color: #130047;
        --tumbler-circle-color: #949ed3;
    }
}

.color-theme-red {
    --primary-color: #ff4343;
    --primary-color-hover: #941e1e;
    --bg-color: #190707;
    --btn-borders-color: #8c2525;
    --text-color: white;
    --theme-btn-dark-color: rgba(255, 255, 255, 0.301);
    --theme-btn-dark-color-active: #949ed3;
    --theme-btn-light-color: rgba(255, 255, 255, 0.301);
    --theme-btn-light-color-active: #ffc700;
    --tumbler-bg-color: #471313;
    --tumbler-circle-color: #949ed3;
    --orb-color: #9a2929;
    --orb-mobile-color: #9a2929;
    --home-mobile-about-text: rgba(255, 255, 255, 0.32);
    --home-bottom-slider-btn-color: #471313;
    --home-bottom-slider-btn-text-color: #8c8383;
    --home-bottom-slider-pale-text: rgba(255, 255, 255, 0.5);
    --home-bottom-slider-pagination-bullet-bg: rgba(255, 255, 255, 0.1);
    --home-bottom-slider-pagination-bullet-thumb: rgba(255, 67, 67, 0.6);
    --progress-glow: rgba(255, 67, 67, 0.6);

    --catalog-controls-border-color: rgba(255, 67, 67, 0.5);
    --catalog-controls-bg-color: #190707;
    --catalog-controls-shadow-color: #ff4343;

    --footer-border-color: rgba(255, 67, 67, 0.15);
}

.color-theme-red.light-theme {
    --primary-color: #ff4343;
    --primary-color-hover: #941e1e;
    --bg-color: #ffe3e3;
    --btn-borders-color: #ffd3d3;
    --text-color: #3a3a3a;
    --theme-btn-dark-color: #ffc6c6;
    --theme-btn-dark-color-active: #ff4343;
    --theme-btn-light-color: #ffc6c6;
    --theme-btn-light-color-active: #ffc700;
    --tumbler-bg-color: #ffc6c6;
    --tumbler-circle-color: #ff4343;
    --orb-color: #ffa7a7;
    --orb-mobile-color: #ffa7a7;
    --home-mobile-about-text: rgba(58, 58, 58, 0.5);
    --home-bottom-slider-btn-color: #ffd3d3;
    --home-bottom-slider-btn-text-color: #ff9393;
    --home-bottom-slider-pale-text: rgba(58, 58, 58, 0.5);
    --home-bottom-slider-pagination-bullet-bg: rgba(255, 67, 67, 0.1);
    --home-bottom-slider-pagination-bullet-thumb: rgba(255, 67, 67, 0.6);
    --progress-glow: rgba(105, 184, 177, 0.6);

    --catalog-controls-border-color: rgba(255, 67, 67, 0.18);
    --catalog-controls-bg-color: #ffe3e3;
    --catalog-controls-shadow-color: #ff43438a;

    --footer-border-color: rgba(255, 67, 67, 0.18);

    .page-header--always-dark {
        --text-color: white;
        --primary-color: #ff4343;
        --primary-color-hover: #941e1e;
        --btn-borders-color: #8c2525;
        --bg-color: #190707;
        --home-mobile-about-text: rgba(255, 255, 255, 0.32);
        --theme-btn-dark-color: rgba(255, 255, 255, 0.301);
        --theme-btn-dark-color-active: #949ed3;
        --theme-btn-light-color: rgba(255, 255, 255, 0.301);
        --theme-btn-light-color-active: #ffc700;
        --tumbler-bg-color: #471313;
        --tumbler-circle-color: #949ed3;
    }
}

.color-theme-green {
    --primary-color: #409133;
    --primary-color-hover: #216816;
    --bg-color: #071206;
    --btn-borders-color: #23511c;
    --text-color: white;
    --theme-btn-dark-color: rgba(255, 255, 255, 0.301);
    --theme-btn-dark-color-active: #949ed3;
    --theme-btn-light-color: rgba(255, 255, 255, 0.301);
    --theme-btn-light-color-active: #ffc700;
    --tumbler-bg-color: #132b0f;
    --tumbler-circle-color: #949ed3;
    --orb-color: rgba(64, 145, 51, 0.7);
    --orb-mobile-color: rgba(64, 145, 51, 0.7);
    --home-mobile-about-text: rgba(255, 255, 255, 0.32);
    --home-bottom-slider-btn-color: #071206;
    --home-bottom-slider-btn-text-color: rgba(255, 255, 255, 0.3);
    --home-bottom-slider-pale-text: rgba(255, 255, 255, 0.5);
    --home-bottom-slider-pagination-bullet-bg: rgba(255, 255, 255, 0.1);
    --home-bottom-slider-pagination-bullet-thumb: rgb(51, 103, 43);
    --progress-glow: rgba(66, 0, 255, 0.6);

    --catalog-controls-border-color: rgba(64, 145, 51, 0.5);
    --catalog-controls-bg-color: #071206;
    --catalog-controls-shadow-color: #409133;

    --footer-border-color: rgba(64, 145, 51, 0.5);
}

.color-theme-green.light-theme {
    --primary-color: #409133;
    --primary-color-hover: #216816;
    --bg-color: #dfeddd;
    --btn-borders-color: #c2dbbd;
    --text-color: #3a3a3a;
    --theme-btn-dark-color: #bdddb8;
    --theme-btn-dark-color-active: #409133;
    --theme-btn-light-color: #bdddb8;
    --theme-btn-light-color-active: #ffc700;
    --tumbler-bg-color: #bdddb8;
    --tumbler-circle-color: #409133;
    --orb-color: rgba(64, 145, 51, 0.4);
    --orb-mobile-color: rgba(64, 145, 51, 0.4);
    --home-mobile-about-text: rgba(58, 58, 58, 0.5);
    --home-bottom-slider-btn-color: #d3e6d0;
    --home-bottom-slider-btn-text-color: #3a3a3a;
    --home-bottom-slider-pale-text: rgba(58, 58, 58, 0.5);
    --home-bottom-slider-pagination-bullet-bg: #d3e6d0;
    --home-bottom-slider-pagination-bullet-thumb: rgba(64, 145, 51, 0.6);
    --progress-glow: rgba(105, 184, 177, 0.6);

    --catalog-controls-border-color: rgba(64, 145, 51, 0.18);
    --catalog-controls-bg-color: #dfeddd;
    --catalog-controls-shadow-color: rgba(64, 145, 51, 0.7);

    --footer-border-color: rgba(64, 145, 51, 0.18);

    .page-header--always-dark {
        --text-color: white;
        --primary-color: #409133;
        --primary-color-hover: #216816;
        --btn-borders-color: #23511c;
        --bg-color: #071206;
        --home-mobile-about-text: rgba(255, 255, 255, 0.32);
        --theme-btn-dark-color: rgba(255, 255, 255, 0.301);
        --theme-btn-dark-color-active: #949ed3;
        --theme-btn-light-color: rgba(255, 255, 255, 0.301);
        --theme-btn-light-color-active: #ffc700;
        --tumbler-bg-color: #132b0f;
        --tumbler-circle-color: #949ed3;
    }
}

.color-theme-orange {
    --primary-color: #ff813a;
    --primary-color-hover: #e6661c;
    --bg-color: #190900;
    --btn-borders-color: #8c451d;
    --text-color: white;
    --theme-btn-dark-color: rgba(255, 255, 255, 0.301);
    --theme-btn-dark-color-active: #949ed3;
    --theme-btn-light-color: rgba(255, 255, 255, 0.301);
    --theme-btn-light-color-active: #ffc700;
    --tumbler-bg-color: #47210c;
    --tumbler-circle-color: #949ed3;
    --orb-color: rgba(255, 129, 58, 0.6);
    --orb-mobile-color: rgba(255, 129, 58, 0.6);
    --home-mobile-about-text: rgba(255, 255, 255, 0.32);
    --home-bottom-slider-btn-color: #190900;
    --home-bottom-slider-btn-text-color: rgba(255, 255, 255, 0.3);
    --home-bottom-slider-pale-text: rgba(255, 255, 255, 0.5);
    --home-bottom-slider-pagination-bullet-bg: rgba(255, 255, 255, 0.1);
    --home-bottom-slider-pagination-bullet-thumb: rgba(255, 129, 58, 0.6);
    --progress-glow: rgba(66, 0, 255, 0.6);

    --catalog-controls-border-color: rgba(255, 129, 58, 0.5);
    --catalog-controls-bg-color: #190900;
    --catalog-controls-shadow-color: rgb(255, 129, 58, 0.7);

    --footer-border-color: rgba(255, 129, 58, 0.5);
}

.color-theme-orange.light-theme {
    --primary-color: #ff813a;
    --primary-color-hover: #e6661c;
    --bg-color: #ffece2;
    --btn-borders-color: #ffccaf;
    --text-color: #3a3a3a;
    --theme-btn-dark-color: #fad1bb;
    --theme-btn-dark-color-active: #ff813a;
    --theme-btn-light-color: #fad1bb;
    --theme-btn-light-color-active: #ffc700;
    --tumbler-bg-color: #fad1bb;
    --tumbler-circle-color: #ff813a;
    --orb-color: rgba(255, 129, 58, 0.4);
    --orb-mobile-color: rgba(255, 129, 58, 0.4);
    --home-mobile-about-text: rgba(58, 58, 58, 0.5);
    --home-bottom-slider-btn-color: #ffe2d2;
    --home-bottom-slider-btn-text-color: #3a3a3a;
    --home-bottom-slider-pale-text: rgba(58, 58, 58, 0.5);
    --home-bottom-slider-pagination-bullet-bg: rgba(255, 129, 58, 0.1);
    --home-bottom-slider-pagination-bullet-thumb: rgba(255, 129, 58, 0.6);
    --progress-glow: rgba(255, 89, 0, 0.6);

    --catalog-controls-border-color: #ffd9c4;
    --catalog-controls-bg-color: #ffece2;
    --catalog-controls-shadow-color: rgba(255, 129, 58, 0.7);

    --footer-border-color: rgba(255, 129, 58, 0.4);

    .page-header--always-dark {
        --text-color: white;
        --primary-color: #ff813a;
        --primary-color-hover: #e6661c;
        --btn-borders-color: #8c451d;
        --bg-color: #190900;
        --home-mobile-about-text: rgba(255, 255, 255, 0.32);
        --theme-btn-dark-color: rgba(255, 255, 255, 0.301);
        --theme-btn-dark-color-active: #949ed3;
        --theme-btn-light-color: rgba(255, 255, 255, 0.301);
        --theme-btn-light-color-active: #ffc700;
        --tumbler-bg-color: #47210c;
        --tumbler-circle-color: #949ed3;
    }
}

html {
    box-sizing: border-box;

    -webkit-text-size-adjust: 100%;

    @include noHighlight();

    font-size: 10px;
    font-size: clamp(4px, 0.44vw, 25px);

    @media (max-aspect-ratio: 16/9) {
        font-size: clamp(4px, 0.5vw, 25px);
    }
    @media (max-aspect-ratio: 15/9) {
        font-size: clamp(4px, 0.55vw, 25px);
    }
    @media (max-aspect-ratio: 14/9) {
        font-size: clamp(4px, 0.60vw, 25px);
    }

    @include breakpoint(tablet) {
        font-size: 8px;
    }

    @media screen and (max-width: 870px) {
        font-size: 7.5px;
    }
    @include breakpoint(small-tablet) {
        font-size: 6.5px;
    }

    @media screen and (max-width: 700px) {
        font-size: 5px;
    }

    @include breakpoint(mobile) {
        font-size: 10px;
    }

    @include breakpoint(supersmall-mobile) {
        font-size: 8px;
    }
}

body {
    min-width: 320px;
    font-size: 1.6rem;
    line-height: 1.2;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: var(--muller);
    color: var(--text-color);
    background-color: var(--bg-color);
}

main {
    display: block;
}

ul,
ol {
    list-style: none;
}

ol {
    counter-reset: ordered-list;
    li {
        counter-increment: ordered-list;
        &::before {
            content: counter(ordered-list) '.';
        }
    }
}

input,
textarea {
    border: none;
    border-radius: 0;
    font: inherit;
    outline: none;
    box-shadow: none;
    border-radius: 0;
    width: 100%;
    background-color: transparent;
    display: block;
}

input:not([type='checkbox']):not([type='radio']) {
    appearance: none;
    -webkit-appearance: none;
}

textarea {
    resize: none;
    box-shadow: none;
    display: block;
    width: 100%;
    overflow: auto;
    height: 20rem;
    @include customScrollbar();
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
}

input[type='number'] {
    -moz-appearance: textfield;
}

input[type='search'] {
    -webkit-appearance: textfield; /* 1 */
    outline-offset: -2px; /* 2 */
}

input[type='search'] {
    -webkit-appearance: textfield;
}

input[type='search']::-webkit-search-decoration {
    -webkit-appearance: none;
}
input[type='search']::-webkit-search-cancel-button {
    -webkit-appearance: none;
    display: none;
}

button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    user-select: none;
    -webkit-appearance: none;
    font: inherit;
    color: inherit;
    outline: none;
    display: inline-block;
    position: relative;
    transition: color 0.2s;
}

a {
    background-color: transparent;
    text-decoration: none;
    transition: color 0.2s;
    &:link,
    &:visited {
        color: inherit;
    }
}

svg {
    flex-shrink: 0;
    fill: currentColor;
    transition: fill 0.2s;
}

img {
    border-style: none;
    max-width: 100%;
    display: block;
}

img[data-sizes='auto'] {
    display: block;
    width: 100%;
}

img.lazyload:not([src]) {
    visibility: hidden;
}

table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
}

th {
    font-weight: 400;
}

td,
th {
    text-align: left;
    vertical-align: top;
}

.lazyload,
.lazyloading {
    opacity: 0;
}
.lazyloaded {
    opacity: 1;
    transition: opacity 300ms;
}

.visually-hidden {
    @include visuallyHidden();
}

.swiper-slide {
    box-sizing: border-box;
    height: auto;
    display: flex;
    flex-direction: column;
}

.no-scroll {
    overflow-y: scroll;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    body {
        height: auto;
        overflow: hidden;
    }
}

::selection {
    color: white;
    background-color: var(--primary-color);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    background-color: transparent;
}
