*,
*::after,
*::before {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

:root {
    --max-container-width: 157.5rem;

    --content-padding: 6rem;
    --muller: 'Muller', sans-serif;

    --primary-color: #9c5de0;
    --primary-color-hover: #4e3070;
    --bg-color: #100916;
    --btn-borders-color: rgba(156, 93, 224, 0.2);
    --text-color: white;
    --theme-btn-dark-color: rgba(255, 255, 255, 0.301);
    --theme-btn-dark-color-active: #949ed3;
    --theme-btn-light-color: rgba(255, 255, 255, 0.301);
    --theme-btn-light-color-active: #ffc700;
    --tumbler-bg-color: #2c193f;
    --tumbler-circle-color: #949ed3;
    --orb-color: #5f3887;
    --orb-mobile-color: #6e249e;
    --home-mobile-about-text: rgba(255, 255, 255, 0.32);
    --home-bottom-slider-btn-color: #2c193f;
    --home-bottom-slider-btn-text-color: rgba(255, 255, 255, 0.5);
    --home-bottom-slider-pale-text: rgba(255, 255, 255, 0.5);
    --home-bottom-slider-pagination-bullet-bg: rgba(255, 255, 255, 0.1);
    --home-bottom-slider-pagination-bullet-thumb: #9c5de0;
    --progress-glow: #8000ff;

    @include breakpoint(mobile) {
        --content-padding: 1.6rem;
    }
}

.light-theme {
    --primary-color: #9c5de0;
    --primary-color-hover: #4e3070;
    --bg-color: #efe6fb;
    --btn-borders-color: rgba(201, 183, 220, 0.25);
    --text-color: #3a3a3a;
    --theme-btn-dark-color: #e8d9f8;
    --theme-btn-dark-color-active: #9c5de0;
    --theme-btn-light-color: #e8d9f8;
    --theme-btn-light-color-active: #ffc700;
    --tumbler-bg-color: #e8d9f8;
    --tumbler-circle-color: #9c5de0;
    --orb-color: #d1b4f1;
    --orb-mobile-color: #d1b4f1;
    --home-mobile-about-text: rgba(58, 58, 58, 0.5);
    --home-bottom-slider-btn-color: #e8d9f8;
    --home-bottom-slider-btn-text-color: #c6a2ee;
    --home-bottom-slider-pale-text: rgba(58, 58, 58, 0.5);
    --home-bottom-slider-pagination-bullet-bg: rgba(156, 93, 224, 0.1);
    --home-bottom-slider-pagination-bullet-thumb: rgba(156, 93, 224, 0.6);
    --progress-glow: rgba(128, 0, 255, 0.5);
}

.color-theme-blue {
    --primary-color: #4200ff;
    --primary-color-hover: #351392;
    --bg-color: #070019;
    --btn-borders-color: rgba(66, 0, 255, 0.5);
    --text-color: white;
    --theme-btn-dark-color: rgba(255, 255, 255, 0.301);
    --theme-btn-dark-color-active: #949ed3;
    --theme-btn-light-color: rgba(255, 255, 255, 0.301);
    --theme-btn-light-color-active: #ffc700;
    --tumbler-bg-color: #130047;
    --tumbler-circle-color: #949ed3;
    --orb-color: #28009b;
    --orb-mobile-color: #28009b;
    --home-mobile-about-text: rgba(255, 255, 255, 0.32);
    --home-bottom-slider-btn-color: #130047;
    --home-bottom-slider-btn-text-color: #837f8c;
    --home-bottom-slider-pale-text: rgba(255, 255, 255, 0.5);
    --home-bottom-slider-pagination-bullet-bg: rgba(255, 255, 255, 0.1);
    --home-bottom-slider-pagination-bullet-thumb: rgba(66, 0, 255, 0.6);
    --progress-glow: rgba(66, 0, 255, 0.6);
}
.color-theme-blue.light-theme {
    --primary-color: #4200ff;
    --primary-color-hover: #351392;
    --bg-color: #efe6fb;
    --btn-borders-color: rgba(66, 0, 255, 0.18);
    --text-color: #3a3a3a;
    --theme-btn-dark-color: #d4c4ff;
    --theme-btn-dark-color-active: #4200ff;
    --theme-btn-light-color: #d4c4ff;
    --theme-btn-light-color-active: #ffc700;
    --tumbler-bg-color: #d4c4ff;
    --tumbler-circle-color: #4200ff;
    --orb-color: rgba(66, 0, 255, 0.3);
    --orb-mobile-color: rgba(66, 0, 255, 0.3);
    --home-mobile-about-text: rgba(58, 58, 58, 0.5);
    --home-bottom-slider-btn-color: #d3c4ff;
    --home-bottom-slider-btn-text-color: #936dff;
    --home-bottom-slider-pale-text: rgba(58, 58, 58, 0.5);
    --home-bottom-slider-pagination-bullet-bg: rgba(66, 0, 255, 0.1);
    --home-bottom-slider-pagination-bullet-thumb: rgba(66, 0, 255, 0.6);
    --progress-glow: rgba(66, 0, 255, 0.6);
}

.color-theme-red {
    --primary-color: #ff4343;
    --primary-color-hover: #941e1e;
    --bg-color: #190707;
    --btn-borders-color: rgba(255, 67, 67, 0.5);
    --text-color: white;
    --theme-btn-dark-color: rgba(255, 255, 255, 0.301);
    --theme-btn-dark-color-active: #949ed3;
    --theme-btn-light-color: rgba(255, 255, 255, 0.301);
    --theme-btn-light-color-active: #ffc700;
    --tumbler-bg-color: #471313;
    --tumbler-circle-color: #949ed3;
    --orb-color: #9a2929;
    --orb-mobile-color: #9a2929;
    --home-mobile-about-text: rgba(255, 255, 255, 0.32);
    --home-bottom-slider-btn-color: #471313;
    --home-bottom-slider-btn-text-color: #8c8383;
    --home-bottom-slider-pale-text: rgba(255, 255, 255, 0.5);
    --home-bottom-slider-pagination-bullet-bg: rgba(255, 255, 255, 0.1);
    --home-bottom-slider-pagination-bullet-thumb: rgba(255, 67, 67, 0.6);
    --progress-glow: rgba(66, 0, 255, 0.6);
}

.color-theme-red.light-theme {
    --primary-color: #ff4343;
    --primary-color-hover: #941e1e;
    --bg-color: #ffe3e3;
    --btn-borders-color: rgba(255, 67, 67, 0.18);
    --text-color: #3a3a3a;
    --theme-btn-dark-color: #ffd4d4;
    --theme-btn-dark-color-active: #ff4343;
    --theme-btn-light-color: #ffd4d4;
    --theme-btn-light-color-active: #ffc700;
    --tumbler-bg-color: #ffd4d4;
    --tumbler-circle-color: #ff4343;
    --orb-color: #ffa7a7;
    --orb-mobile-color: #ffa7a7;
    --home-mobile-about-text: rgba(58, 58, 58, 0.5);
    --home-bottom-slider-btn-color: #ffd3d3;
    --home-bottom-slider-btn-text-color: #ff9393;
    --home-bottom-slider-pale-text: rgba(58, 58, 58, 0.5);
    --home-bottom-slider-pagination-bullet-bg: rgba(255, 67, 67, 0.1);
    --home-bottom-slider-pagination-bullet-thumb: rgba(255, 67, 67, 0.6);
    --progress-glow: rgba(105, 184, 177, 0.6);
}

html {
    box-sizing: border-box;

    -webkit-text-size-adjust: 100%;

    @include noHighlight();

    font-size: 10px;
  

    @media screen and (min-width: 2500px) {
        font-size: clamp(7px, 0.52vw, 25px);
    }


    @media screen and (max-width: 1980px) {
        font-size: 9px;
    }

    @include breakpoint(desktop) {
        font-size: 8px;
    }
    @include breakpoint(laptop) {
        font-size: 7px;
    }

    @include breakpoint(tablet) {
        font-size: 6px;
    }

    @media screen and (max-width: 968px) {
        font-size: 4px;
    }

    @include breakpoint(small-tablet) {
        font-size: 6px;
    }

    @include breakpoint(mobile) {
        font-size: 10px;
    }
}

body {
    min-width: 320px;
    font-size: 1.6rem;
    line-height: 1.2;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: var(--muller);
    color: var(--text-color);
    background-color: var(--bg-color);
}

main {
    display: block;
}

ul,
ol {
    list-style: none;
}

ol {
    counter-reset: ordered-list;
    li {
        counter-increment: ordered-list;
        &::before {
            content: counter(ordered-list) '.';
        }
    }
}

input,
textarea {
    border: none;
    border-radius: 0;
    font: inherit;
    outline: none;
    box-shadow: none;
    border-radius: 0;
    width: 100%;
    background-color: transparent;
    display: block;
}

input:not([type='checkbox']):not([type='radio']) {
    appearance: none;
    -webkit-appearance: none;
}

textarea {
    resize: none;
    box-shadow: none;
    display: block;
    width: 100%;
    overflow: auto;
    height: 20rem;
    @include customScrollbar();
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
}

input[type='number'] {
    -moz-appearance: textfield;
}

input[type='search'] {
    -webkit-appearance: textfield; /* 1 */
    outline-offset: -2px; /* 2 */
}

input[type='search'] {
    -webkit-appearance: textfield;
}

input[type='search']::-webkit-search-decoration {
    -webkit-appearance: none;
}
input[type='search']::-webkit-search-cancel-button {
    -webkit-appearance: none;
    display: none;
}

button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    user-select: none;
    -webkit-appearance: none;
    font: inherit;
    color: inherit;
    outline: none;
    display: inline-block;
    position: relative;
    transition: color 0.2s;
}

a {
    background-color: transparent;
    text-decoration: none;
    transition: color 0.2s;
    &:link,
    &:visited {
        color: inherit;
    }
}

svg {
    flex-shrink: 0;
    fill: currentColor;
    transition: fill 0.2s;
}

img {
    border-style: none;
    max-width: 100%;
    display: block;
}

img[data-sizes='auto'] {
    display: block;
    width: 100%;
}

img.lazyload:not([src]) {
    visibility: hidden;
}

table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
}

th {
    font-weight: 400;
}

td,
th {
    text-align: left;
    vertical-align: top;
}

.lazyload,
.lazyloading {
    opacity: 0;
}
.lazyloaded {
    opacity: 1;
    transition: opacity 300ms;
}

.visually-hidden {
    @include visuallyHidden();
}

.swiper-slide {
    box-sizing: border-box;
    height: auto;
    display: flex;
    flex-direction: column;
}

.no-scroll {
    overflow-y: scroll;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    body {
        height: auto;
        overflow: hidden;
    }
}

::selection {
    color: white;
    background-color: var(--primary-color);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    background-color: transparent;
}
