.home {
    padding-top: 16rem;
    padding-bottom: 5rem;

    @include breakpoint(mobile) {
        padding-top: 15rem;
        padding-bottom: 3.4rem;
    }
}

.home__top-slider-arrows {
    @include breakpointMF(small-tablet) {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        display: flex;
        flex-direction: column;
        z-index: 90;
    }

    @include breakpoint(mobile) {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-top: 1.5rem;
    }
}

.home__top-slider-arrow {
    width: 6rem;
    height: 6rem;
    margin-bottom: 2.2rem;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: box-shadow 0.3s, transform 0.3s, border-color 0.3s;
    background-color: var(--bg-color);
    border: 1px solid var(--btn-borders-color);
    border-radius: 1.6rem;

    @include breakpoint(mobile) {
        width: 4rem;
        height: 4rem;
        border-radius: 1rem;
        margin: 0;
        margin-right: 1rem;
        &:last-child {
            margin-right: 0;
        }
    }
    svg {
        width: 2rem;
        height: 2rem;
        fill: var(--text-color);
        transition: fill-opacity 0.2s;

        @include breakpoint(mobile) {
            width: 1.4rem;
            height: 1.4rem;
        }
    }

    &.swiper-button-disabled {
        // opacity: .5;
        cursor: default;

        svg {
            fill-opacity: 0.5;
        }
    }

    .no-touch &:not(.swiper-button-disabled):hover,
    .touch &:not(.swiper-button-disabled):active {
        box-shadow: 0px 0px 2.1rem var(--catalog-controls-shadow-color);
    }

    &:last-child {
        margin-bottom: 0;
    }
}

.home__top-slider-arrows-wrapper {
    position: relative;
}

.home__top-slider {
    margin-bottom: 6rem;
    position: relative;

    @include breakpoint(mobile) {
        margin-bottom: 4.5rem;
    }
    .swiper-container {
        overflow: visible;
    }

    // &.slider-with-autoplay {
    //     .swiper-wrapper {
    //         transition-timing-function: linear !important;
    //     }
    // }

    .swiper-slide {
        display: flex;
        flex-direction: color;
        width: 31rem;
        transition: width 0.5s;

        @include breakpoint(small-tablet) {
            width: 35rem;
        }

        @include breakpoint(mobile) {
            width: 20rem;
        }
        &:first-child {
            .home__top-slider-card-bg {
                border-top-left-radius: 4rem;
                border-bottom-left-radius: 4rem;

                @include breakpoint(mobile) {
                    border-top-left-radius: 2rem;
                    border-bottom-left-radius: 2rem;
                }
            }
        }
        &:last-child {
            .home__top-slider-card-bg {
                border-top-right-radius: 4rem;
                border-bottom-right-radius: 4rem;

                @include breakpoint(mobile) {
                    border-top-right-radius: 2rem;
                    border-bottom-right-radius: 2rem;
                }
            }
        }

        .no-touch &:hover {
            width: 34rem;

            #enQj7bY90rI8_to {
                transform: translate(185.793127px, 171.050003px);
            }

            #enQj7bY90rI14_to {
                transform: translate(212.199997px, 194.949997px);
            }

            #enQj7bY90rI21_to {
                transform: translate(245.199997px, 265.75px);
            }

            #eC1sEjXtYhA4_to {
                transform: translate(440.980366px, 248.992325px);
            }

            #eC1sEjXtYhA9_to {
                transform: translate(236.918152px, 97.544308px);
            }

            #eC1sEjXtYhA14_to {
                transform: translate(140.128349px, 283.974906px);
            }

            #eC1sEjXtYhA28_to {
                transform: translate(347.75px, 216.599991px);
            }

            #eC1sEjXtYhA37_to {
                transform: translate(179.099991px, 427.235596px);
            }

            #elQUMWLfvrT17_to {
                transform: translate(255.699997px, 184.66893px);
            }

            #epE4h2tMfaj12_to {
                transform: translate(213.280679px, 63.628454px);
            }

            #epE4h2tMfaj17_to {
                transform: translate(246.350006px, 106.54386px);
            }

            #epE4h2tMfaj20_to {
                transform: translate(265.299996px, 149.062496px);
            }

            #epE4h2tMfaj25_to {
                transform: translate(293.350006px, 168.198792px);
            }

            #epE4h2tMfaj27_to {
                transform: translate(297.950012px, 197.012485px);
            }

            #epE4h2tMfaj29_to {
                transform: translate(302.550018px, 226.537485px);
            }

            #epE4h2tMfaj31_to {
                transform: translate(308.018799px, 252.979111px);
            }

            #epE4h2tMfaj33_to {
                transform: translate(311.75px, 277.354105px);
            }

            #epE4h2tMfaj41_to {
                transform: translate(262.049995px, 198.098123px);
            }

            #edw1xcXbn6j4_to {
                transform: translate(121.749995px, 153.550001px);
            }

            #edw1xcXbn6j18_to {
                transform: translate(431.299996px, 235.800003px);
            }

            #edw1xcXbn6j19_to {
                transform: translate(255.699997px, 420.000009px);
            }

            #edw1xcXbn6j20_to {
                transform: translate(212.100001px, 181.500006px);
            }

            #edw1xcXbn6j24_to {
                transform: translate(258.599991px, 135.050008px);
            }

            #edw1xcXbn6j29_to {
                transform: translate(160.449998px, 190.200007px);
            }

            #edw1xcXbn6j34_to {
                transform: translate(257.2px, 352.300015px);
            }

            #edw1xcXbn6j39_to {
                transform: translate(241.250013px, 242.399996px);
            }

            #edw1xcXbn6j46_to {
                transform: translate(202.5px, 291.250003px);
            }

            #edw1xcXbn6j71_to {
                transform: translate(350.449992px, 323.200003px);
            }

            #edw1xcXbn6j79_to {
                transform: translate(333.199996px, 222.549994px);
            }

            #edw1xcXbn6j95_to {
                transform: translate(255.699997px, 87.7px);
            }

            #edw1xcXbn6j96_to {
                transform: translate(93.549979px, 274.749985px);
            }

            #edw1xcXbn6j103_to {
                transform: translate(344.149998px, 333.149991px);
            }

            #edw1xcXbn6j115_to {
                transform: translate(370.500015px, 360.399991px);
            }

            #edw1xcXbn6j132_to {
                transform: translate(388.599995px, 371.049995px);
            }

            @include breakpoint(mobile) {
                width: 24rem;
            }

            .home__top-slider-card-bg {
                top: -2rem;
                bottom: -2rem;
                border-radius: 2rem;
            }
        }
    }
}

.home__top-slider-card {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    z-index: 1;
    min-height: 50rem;
    padding: 3rem 4rem;

    color: white;

    &:link,
    &:visited {
        color: white;
    }

    &--dark-text {
        color: var(--text-color);

        &:link,
        &:visited {
            color: var(--text-color);
        }
    }

    @include breakpoint(small-tablet) {
        min-height: 57rem;
    }

    @include breakpoint(mobile) {
        padding: 2.2rem;
        min-height: 33rem;
    }
}

.home__top-slider-card-bg {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;

    background: rgba(white, 0.1);
    z-index: -1;
    transition: all 0.5s;
    overflow: hidden;

    .light-theme & {
        box-shadow: 0 0 1rem rgba(black, 0.2);
    }
}

.home__top-slider-card-bg-image {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    @include objectFitCover();
}

.home__top-slider-card-bg-illustration {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
    width: 130%;
    height: 100%;
    @include objectFitCover();

    path,
    polygon,
    circle,
    rect,
    g {
        transition: transform 0.4s;
    }
}

.home__top-slider-card-category {
    background-color: var(--primary-color);
    color: white;
    padding: 0.7rem;
    border-radius: 0.6rem;
    font-weight: bold;
    font-size: 1.1rem;
    line-height: 1.4rem;
    text-transform: uppercase;
    display: inline-flex;
    margin-bottom: auto;
    align-self: flex-start;

    .color-theme-grayscale & {
        background-color: black;
        color: white;
    }

    @include breakpoint(mobile) {
        font-size: 0.8rem;
        line-height: 1rem;
        padding: 0.5rem;
    }
}

.home__top-slider-card-title {
    font-weight: bold;

    font-size: 1.9rem;
    line-height: 2.3rem;
    text-transform: uppercase;

    @include breakpoint(mobile) {
        font-size: 1.2rem;
        line-height: 1.5rem;
    }
}

.home__bottom-slider {
    @include breakpoint(mobile) {
        .swiper-container {
            overflow: visible;
        }
    }
}

.home__bottom-slider-row {
    display: flex;
    margin-bottom: 4.5rem;

    @include breakpoint(mobile) {
        margin-bottom: 4rem;
    }
}

.home__bottom-slider-pagination {
    display: flex;
    align-items: center;
}

.home__bottom-slider-pagination-bullet {
    width: 1rem;
    flex-grow: 1;
    height: 0.2rem;
    position: relative;
    margin-right: 0.8rem;
    background-color: var(--home-bottom-slider-pagination-bullet-bg);
    &:last-child {
        margin-right: 0;
    }

    &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: var(--home-bottom-slider-pagination-bullet-thumb);
        transform-origin: left center;
        transform: scaleX(var(--slider-progress, 0));
        box-shadow: 0px 0px 2.4rem var(--progress-glow);
    }
}

.home__bottom-slider-arrow {
    display: inline-flex;
    flex-direction: column;
    position: relative;

    @include breakpoint(mobile) {
        display: none;
    }

    .no-touch &:hover {
        .home__bottom-slider-arrow-content {
            transform: translateY(0.8rem);
        }
    }

    &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        margin-top: 0.8rem;
        border-radius: 1.6rem;
        border: 1px solid var(--btn-borders-color);
        z-index: -1;
        background: var(--btn-borders-color);
    }
    &--prev {
        margin-right: 16rem;

        @include breakpoint(tablet) {
            margin-right: 6rem;
        }

        @include breakpoint(small-tablet) {
            margin-right: 3rem;
        }
    }

    &--next {
        margin-left: 16rem;

        @include breakpoint(tablet) {
            margin-left: 6rem;
        }

        @include breakpoint(small-tablet) {
            margin-left: 3rem;
        }
    }
}

.home__bottom-slider-arrow-content {
    width: 6rem;

    border-radius: 1.6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    flex-grow: 1;
    transition: box-shadow 0.3s, transform 0.3s, border-color 0.3s;
    background-color: var(--bg-color);
    border: 1px solid var(--btn-borders-color);
    svg {
        width: 1.4rem;
        height: 1.4rem;
    }
}

.home__bottom-slider-content {
    width: 50%;
    flex-grow: 1;

    @include breakpoint(mobile) {
        width: 100%;
        flex-grow: 0;
    }
}

.home__bottom-slider-card {
    display: flex;

    @include breakpoint(mobile) {
        flex-direction: column;
    }

    .no-touch &:hover {
        .home__bottom-slider-card-image {
            transform: scale(1.03);
            transition: transform 0.3s ease-out;
        }
    }
}

.home__bottom-slider-card-btns {
    flex-shrink: 0;
    margin-left: 3rem;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    margin-right: 0.3rem;
    @include breakpoint(mobile) {
        flex-direction: row;
        align-items: center;
        position: absolute;
        right: 0;
        bottom: 0;
        margin-left: 0;
    }
}

.home__bottom-slider-card-btn {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 2rem;
    align-items: center;
    position: relative;

    .sharing-dropdown {
        left: auto;
        right: 0;

        @include breakpoint(mobile) {
            top: auto;
            left: auto;
            right: 0;
            bottom: 100%;
            padding-top: 0;
            padding-bottom: 1rem;
        }
    }

    &:hover {
        .sharing-dropdown {
            opacity: 1;
            visibility: inherit;
            transition: opacity 0.3s, visibility 0.3s;
        }
    }
    @include breakpoint(mobile) {
        margin-bottom: 0;
        margin-right: 1.2rem;
        flex-direction: row;
        align-items: center;
        &:last-child {
            margin-right: 0;
        }
    }

    &:last-child {
        margin-bottom: 0;
    }

    .no-touch &:hover,
    .touch &:active {
        .home__bottom-slider-card-btn-icon {
            background-color: var(--primary-color);
            svg {
                fill: white;
            }
        }
    }
    .color-theme-grayscale.no-touch &:hover,
    .color-theme-grayscale.touch &:active {
        .home__bottom-slider-card-btn-icon {
            background-color: var(--primary-color);
            svg {
                fill: var(--bg-color);
            }
        }
    }
}

.home__bottom-slider-card-btn-icon {
    width: 4.7rem;
    height: 4.7rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--home-bottom-slider-btn-color);
    margin-bottom: 0.6rem;
    border-radius: 50%;
    transition: background-color 0.3s;

    @include breakpoint(mobile) {
        width: 3.2rem;
        height: 3.2rem;
        margin-bottom: 0;
        margin-right: 0.6rem;
        &:last-child {
            margin-right: 0;
        }
    }
    &:last-child {
        margin-bottom: 0;
    }
    svg {
        width: 1.8rem;
        height: 1.8rem;
        fill: var(--text-color);
        display: block;
        transition: fill 0.2s;

        @include breakpoint(mobile) {
            width: 1.2rem;
            height: 1.2rem;
        }
    }
}

.home__bottom-slider-card-image-container {
    width: 43.2rem;
    border-radius: 1.6rem;
    overflow: hidden;
    position: relative;
    margin-right: 6rem;
    flex-shrink: 0;
    backface-visibility: hidden;
    transform: translateZ(0);

    @include breakpoint(tablet) {
        width: 35rem;
        margin-right: 4rem;
    }

    @include breakpoint(small-tablet) {
        width: 35rem;
        margin-right: 3rem;
    }

    @include breakpoint(mobile) {
        width: 100%;
        margin-right: 0;
        margin-bottom: 2.5rem;
    }
    &::before {
        content: '';
        display: block;
        padding-bottom: 56.25%;

        @include breakpoint(small-tablet) {
            .home__bottom-slider & {
                padding-bottom: 100%;
            }
        }

        @include breakpoint(mobile) {
            .home__bottom-slider & {
                padding-bottom: 56.25%;
            }
        }
    }
}

.home__bottom-slider-card-image {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transition: transform 0.3s;
    transform: translateZ(0);
    @include objectFitCover();
}

.home__bottom-slider-card-category {
    padding: 0.7rem;
    font-weight: bold;
    font-size: 1.1rem;
    line-height: 1.4rem;
    text-transform: uppercase;
    text-align: center;
    color: white;
    background: var(--primary-color);
    position: absolute;
    top: 2rem;
    left: 2.4rem;
    z-index: 5;
    border-radius: 0.6rem;

    .color-theme-grayscale & {
        background-color: black;
        color: white;
    }

    @include breakpoint(mobile) {
        top: 1rem;
        left: 1rem;

        font-size: 1.1rem;
        line-height: 1.4rem;
        padding: 0.6rem 0.7rem;
    }
}

.home__bottom-slider-card-btn-text {
    font-weight: bold;
    font-size: 1.1rem;
    line-height: 1.4rem;
    text-align: center;
    text-transform: uppercase;
    color: var(--home-bottom-slider-btn-text-color);
}

.home__bottom-slider-card-title {
    font-weight: bold;
    font-size: 3.3rem;
    line-height: 4.1rem;
    text-transform: uppercase;
    margin-bottom: 1.7rem;
    margin-top: -0.4rem;

    @include breakpoint(mobile) {
        margin: 0;
        font-size: 2rem;
        line-height: 2.5rem;
        margin-bottom: 1rem;
    }
}

.home__bottom-slider-card-text {
    font-size: 2.1rem;
    line-height: 2.8rem;
    margin-bottom: 2rem;
    color: var(--home-bottom-slider-pale-text);

    @include breakpoint(mobile) {
        font-size: 1.6rem;
        line-height: 2.3rem;
    }
}

.home__bottom-slider-card-info {
    display: flex;
    align-items: center;
    color: var(--home-bottom-slider-pale-text);
}

.home__bottom-slider-card-info-item {
    display: inline-flex;
    align-items: center;
    font-weight: bold;
    font-size: 1.1rem;
    line-height: 1.4rem;
    text-transform: uppercase;
    margin-right: 2.2rem;

    @include breakpoint(mobile) {
        font-size: 1.1rem;
        line-height: 1.4rem;
        margin-right: 1.2rem;
    }
    &:last-child {
        margin-right: 0;
    }
    svg {
        width: 1.4rem;
        height: 1.4rem;
        flex-shrink: 0;
        margin-right: 0.6rem;
    }
}

.home__bottom-slider-card-content {
    display: flex;
    flex-direction: row;

    @include breakpoint(mobile) {
        position: relative;
    }
}

.home__bottom-slider-card-content-inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.home__bottom-slider-card-recent {
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 1.9rem;
    text-transform: uppercase;
    color: var(--text-color);
    margin-bottom: 1rem;
}

.home__top-slider-progress {
    margin-top: 3.8rem;
    height: 0.2rem;
    position: relative;
    background-color: var(--home-bottom-slider-pagination-bullet-bg);
    @include breakpoint(mobile) {
        margin-top: 2rem;
        display: none;
    }
    .swiper-pagination-progressbar-fill {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: var(--home-bottom-slider-pagination-bullet-thumb);
        transform-origin: left center;
        transform: scaleX(0);
        box-shadow: 0px 0px 2.4rem var(--progress-glow);
    }
}
