.orb {
    width: 84rem;
    height: 84rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
    position: fixed;
    z-index: -1;

    .no-mobile-orb & {
        @include breakpoint(mobile) {
            display: none;
        }
    }

    @include breakpoint(tablet) {
        width: 90rem;
        height: 90rem;
    }
}

.orb__inner {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    backface-visibility: hidden;
    mask-size: contain;
    mask-position: center;
    mask-repeat: no-repeat;
    mask-image: url('../img/orb-mask.png');
    background-color: var(--orb-color);

    @include breakpoint(tablet) {
        background-color: var(--orb-mobile-color);
    }
}


