.toasty {
    background-color: rgba(black, 0.7);
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1200;
    transition: opacity .4s, visibility 0s linear .4s;
    opacity: 0;
    visibility: hidden;

    @include breakpoint(mobile) {
        display: none;
    }

    &.active {
        transition: opacity .4s, visibility .4s;
        opacity: 1;
        visibility: inherit;
        
    }
}

.toasty__victor {
    width: 50rem;
    position: relative;
    position: absolute;
    bottom: -7rem;
    right: -7rem;
    transition: transform .4s;


    transform: translate(100%, 100%);

    .toasty.active & {
        transform: translate(0%, 0%);
    }
    &::before {
        content: '';
        display: block;
        padding-bottom: 100%;
    }

    &::after {
        content: '';
        position: absolute;
        left: -3rem;
        bottom: 0;
        width: 25rem;
        height: 25rem;
        z-index: 5;
        background-image: url('../img/finger-sprite.png');
        background-size: 200% 100%;
        background-repeat: no-repeat;
        background-position: 0 0;
        
        animation-name: finger;
        animation-duration: .7s;
        animation-timing-function: steps(2);
        animation-iteration-count: infinite;
        animation-fill-mode: forwards;
    }
}

.toasty__victor-message {
    position: absolute;
    right: 100%;
    top: 0;
    margin-top: 5rem;
    
    font-size: 8rem;
    font-weight: 700;
    line-height: 1.2;
    white-space: nowrap;
}

@keyframes finger {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 200% 0;
    }
}

.toasty__victor-image {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: right bottom;
}
